.aside {
  width: 280px;
  position: relative;
  flex-shrink: 0;
  background-color: #fff;
  &__container {
    position: fixed;
    width: 280px;
    padding: 0 20px;
  }
  &__content {
    height: calc(100vh - 140px);
  }
  &__nav {
    height: calc(100% - 42px);
    margin: 0 -15px;
    .scroll-container {
      height: 100%;
    }
  }
  &__head {
    padding: 35px 0 50px 0;
  }
  &__button {
    width: 100%;
    position: relative;
    &:last-child {
      margin-top: 15px;
      .toggle-item {
        right: 19px;
      }
    }
    .toggle-item {
      position: absolute;
      right: 20px;
      top: 12px;
    }
  }
  .scroll-container {
    .nicescroll-rails {
      margin-left: 10px;
    }
  }
}
.logo {
  a {
    display: block;
    width: 100%;
  }
  img {
    display: block;
    height: 55px;
  }
}
.toggle-item {
  width: 18px;
  height: 18px;
  position: relative;
  .icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    &:last-child {
      width: 16px;
      height: 16px;
      opacity: 0;
    }
  }
}
.nav {
  display: none;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &__link {
    text-decoration: none;
    color: #1D1D1B;
    &:hover {
      color: $main-color;
    }
    &_decorated {
      color: #F5A057;
    }
  }
}
.filter-toggle {
  display: none;
}
.catalogue-nav {
  display: none;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    &:not(:last-child) {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $border-color;
    }
  }
  &__link {
    color: #757575;
  }
  &__item {
    &:first-child {
      a {
        text-transform: uppercase;
        font-weight: 500;
        color: #000;
      }
    }
  }
}
.filter {
}
.filter-section {
  border-bottom: 1px solid $border-color;
  &__title {
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 15px; 
    text-align: left;
    position: relative;
    text-decoration: none;
    color: #000;
    .icon {
      width: 10px;
      height: 10px;
      fill: #000;
      margin-left: 15px;
      transition: 0.1s;
    }
  }
  &__content {
    padding: 15px 15px 20px 15px;
    display: none;
  }
  &_price {
    .filter-section__title {
      text-align: center;
      cursor: default;
    }
    .filter-section__content {
      padding: 5px 0 20px 0;
      display: block !important;
    }
  }
  &__price {
    display: flex;
  }
  &__price-input {
    width: 50%;
    &:first-child {
      padding-right: 8px;
    }
    &:last-child {
      padding-left: 8px;
    }
  }
  &__checkbox-list {
    margin: -8px;
  }
  .checkbox {
    padding: 8px 8px 8px 30px;
    border-radius: 4px;
    &:hover {
      background-color: #f3f3f3;
    }
    &:before {
      top: 8px;
      left: 8px;
    }
    &:after {
      top: 11px;
      left: 11px;
    }
    &:hover {

    }
  }
  &.active {
    .filter-section__content {
      display: block;
    }
    .filter-section__title .icon {
      transform: rotate(180deg);
    }
  }
}

.catalogue-opened {
  .catalogue-toggle {
    .icon:last-child {
      opacity: 1;
    }
    .icon:first-child {
      opacity: 0;
    }
  }
  .filter-toggle {
    display: block;
  }
  .nav {
    display: none;
  }
  .catalogue-nav {
    display: block;
  }
  .aside__nav {
    height: calc(100% - 104px);
  }
}
.filter-opened {
  .catalogue-nav, .nav {
    display: none;
  }
  .filter {
    display: block;
  }
  .filter-toggle {
    .icon:last-child {
      opacity: 1;
    }
    .icon:first-child {
      opacity: 0;
    }
  }
}

@media all and(max-width: 768px) {
  .logo img {
    height: 40px;
  }
  .aside {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: box-shadow 0.3s;
    &.scrolled {
      box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1)
    }
    &__container {
      position: relative;
      width: 100%;
      padding: 0 15px;
    }
    &__head {
      padding: 10px 0;
    }
    &__content {
      display: none;
    }
  }
}