.categories {
  &_main {
    margin-bottom: 40px;
  }
}
.banner {
  margin-bottom: 25px;
}
.tile-categories-manufacturer {
  margin-top: 45px;
}
.section {
  &_manufacturers,
  &_map {
    margin-top: 70px;
  }
  &__title {
    font-size: 24px;
    display: block;
    text-align: center;
    color: $color5;
    font-family: 'Manrope';
    font-weight: normal;
    margin: 0 0 25px 0;
  }
}
.map {
  border-radius: 4px;
  overflow: hidden;
  height: 550px;
  background: rgba(0,0,0,.1);
  position: relative;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
}


.block {
  display: block;
  text-decoration: none;
  font-family: 'Manrope';
  .content {
    transition: 0.2s;
    position: relative;
    display: block;
    text-decoration: none;
    border-radius: 4px;
    overflow: hidden;
  }
  &_type1 {
    .content {
      border: 1px solid $color3;
      border-radius: 4px;
      background-color: #fff;
      color: $color5;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
      .icon {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: inherit;
        stroke: $color5;
      }
      span {
        position: absolute;
        display: block;
        padding: 0 15px;
        width: 100%;
        bottom: 15px;
        text-align: center;
      }
      .cover-box {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
      }
      img {
        padding: 30px;
      }
      &:hover {
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
        .icon {
          stroke: $color1;
        }
      }
    }
  }
  &_type2 {
    .content {
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      font-size: 18px;
    }
    .block__title {
      position: relative;
      z-index: 3;
      width: 100%;
      max-width: 210px;
      text-align: center;
      display: block;
      color: #fff;
      line-height: 1;
      padding: 12px 15px;
      border-radius: 4px;
      &_1 {
        background-color: $color7;
      }
      &_2 {
        background-color: $color1;
      }
      &_3 {
        background-color: $color8;
      }
    }
  }
  &_type3 {
    .content {
      height: 300px;
      color: #fff;
      &:hover {
        .block__text {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    .block__text {
      background-color: #fff;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      transition: 0.3s;
      z-index: 2;
      text-align: center;
    }
    .block__title {
      margin: 0;
      font-weight: normal;
      display: block;
    }
  }
  &_background {
    .background {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.3s;
      }
    }
    .content {
      &:hover {
        .background {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  &_type4 {
    &.block_size1 {
      .content {
        height: 400px;
      }
    }
    &.block_size2 {
      .content {
        height: 600px;
      }
    }
    &.block_size3 {
      height: 50%;
      .content {
        height: 100%;
      }
    }
    &.block_size4 {
      .content {
        height: 230px;
      }
    }
    .content {
      color: #fff;
      &:hover {
        .block__text {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    .block__text {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
      text-align: center;
      display: flex;
      transition: 0.3s;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media all and(max-width: 1480px) {
  .block_type1 .content .icon {
    width: 45px;
    height: 45px;
  }
  .block_type3 .content {
    height: 270px;
  }
}
@media all and(max-width: 768px) {
  .block_type2 {
    .content {
      height: 145px;
      font-size: 16px;
    }
  }
  .block_type3 {
    .content {
      height: 200px;
    }
    .block__description {
      display: none;
    }
  }
  .block_type1 .content img {
    padding: 25px;
  }
  .block_type4.block_size1 .content {
    height: 240px;
  }
  .block_type4.block_size2 .content {
    height: 500px;
  }
}
@media all and(max-width: 600px) {
  .block_type1 .content span {
    bottom: 10px;
  }
}
@media all and(max-width: 576px) {
  .tile-categories-manufacturer {
    margin-top: 40px;
  }
  .block_type2 .content {
    font-size: 13px;
  }
  .section_manufacturers,
  .section_map {
    margin-top: 40px;
  }
  .section__title {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
  .map {
    height: 370px;
  }
  .block_type3 {
    .content {
      height: 145px;
    }
  }
  .block_type4.block_size1 .content {
    height: 145px;
  }
  .block_type4.block_size2 .content {
    height: 145px;
  }
  .block_type4.block_size3 .content {
    height: 145px;
  }
}