.select-box {
  padding: 0 10px 10px 10px;
  width: 50%;
  max-width: 200px;
  &__label {
    font-size: 12px;
    color: $color6;
    display: block;
    margin-bottom: 4px;
  }
}
.catalogue-sorting {
  margin: 0 -10px -10px -10px;
  display: flex;
  flex-wrap: wrap;
}
.catalogue-sorting {
  margin-bottom: 10px;
}
//if mobile styles
.android, .ios {
  .catalogue-block__more {
    //opacity: 1 !important;
  }
}
.catalogue-block {
  &_type2 {
    width: 25%;
    .catalogue-block__additional {
      flex: 1 1 100%;
    }
    .catalogue-block__info {
      flex: 1 1 auto;
      flex-shrink: 0;
    }
  }
  &_collection-item {
    .catalogue-block__info {
      border-bottom: 1px solid $color3;
      border-radius: 0 0 4px 4px;
      position: relative;
      z-index: 1;
      transition: z-index 0.3s step-end, border-radius 0.3s;
    }
    .catalogue-block__container {
      &:hover {
        .catalogue-block__info {
          border-radius: 0;
          transition: z-index 0.3s step-start, border-radius 0.3s;
          z-index: 3;
        }
        .catalogue-block__calculator {
          opacity: 1;
          visibility: visible;
          transform: translateY(100%);
        }
      }
    }
  }
  &__container {
    border-radius: 4px;
    transition: 0.3s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4px;
    position: relative;
    &:hover {
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
      .catalogue-block__more {
        opacity: 1;
      }
    }
  }
  &__section {
    border-color: $color3;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    background-color: #fff;
    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      border-radius: 0 0 4px 4px;
      border-bottom: 1px solid $color3;
    }
  }
  &__calculator {
    width: calc(100%);
    padding: 15px 12px;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transform: translateY(90%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    border-radius: 0 0 4px 4px;
    border-top: 0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    .button {
      margin-top: 15px;
      width: 100%;
    }
  }
  &__image {
    height: 160px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    .cover-box {
      border-radius: 0;
    }
    .cover-box_contain {
      img {
        padding: 15px;
      }
    }
  }
  &__more {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s;
    a {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  &__info {
    padding: 15px 12px;
    font-family: 'Manrope';
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__brand {
    color: $color1;
    border-bottom: 1px solid $color1;
    text-decoration: none;
    line-height: 1;
    display: inline;
    transition: 0.15s;
    &:hover {
      color: $color2;
      border-color: transparent;
    }
  }
  &__model {
    display: block;
    font-size: 18px;
    color: #000;
    line-height: 1.25;
    margin-top: 5px;
  }
  &__price {
    margin: 15px 0 0 0;
    display: block;
    span {
      font-size: 18px;
      color: #000;
      font-weight: 500;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .appointment-list {
    margin: 15px 0 0 0;
    &__item {
      position: relative;
    }
    .icon-box_style2,
    .icon-box_style3 {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__additional {
    padding: 10px 12px 15px 12px;
    color: #000;
    line-height: 1.25;
  }
  &__additional-block {
    .cover-box {
      border-radius: 0;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
        position: relative;
        z-index: 3;
        transition: 0.3s;
      }
      &:hover {
        &:before {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
.catalogue-pagination {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 7px;
    }
  }
  &__link {
    display: block;
    width: 42px;
    height: 42px;
    text-decoration: none;
    color: $color5;
    border-radius: 4px;
    border: 1px solid $color3;
    text-align: center;
    line-height: 42px;
    transition: 0.3s;
    &:hover {
      border-color: #808080;
    }
    &.active {
      background-color: #979797;
      border-color: #979797;
      color: #fff;
    }
  }
}
.catalogue-more {
  display: flex;
  justify-content: center;
  &__button {
    width: 238px;
    text-align: center;
  }
}
//product-card
.product-head {
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top {
    font-family: 'Manrope';
    padding: 10px 20px 20px 20px;
    color: #000;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    .label {
      margin-bottom: 15px;
    }
  }
  &__button {
    margin-top: 15px;
    flex-shrink: 0;
    text-align: center;
  }
  &__more-info {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    padding-top: 25px;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .scroll {
      height: 100%;
    }
    .button-toggle {
      background-color: #fff;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      z-index: 3;
      border-radius: 4px;
      .icon {
        width: 16px;
        height: 16px;
      }
    }
    .title {
      color: #000;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 12px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      span {
        &:first-child {
          color: $color6;
          margin-right: 5px;
        }
        &:last-child {
          color: #000;
        }
      }
    }
  }
  &__section {
    border: 1px solid $color3;
    border-radius: 4px;
    flex: 1 1 100%;
    .price-item {
      font-family: 'Manrope';
      strong {
        font-size: 24px;
        color: #000;
        line-height: 1;
      }
    }
  }
  &__section-block {
    padding: 20px;
    &:not(:last-child) {
      border-bottom: 1px solid $color3;
    }
  }
}
.gallery-nav {
  margin-top: 20px;
  &__link {
    &:before {
      content: '';
      display: block;
      padding-top: 68%;
    }
    .icon {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
      opacity: 0;
      width: 36px;
      height: 36px;
      fill: #fff;
    }
    &:hover {
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
      .icon {
        opacity: 0.5;
      }
    }
  }
}
.gallery-slide {
  &__icon {
    position: absolute;
    background: #000;
    width: 102px;
    height: 102px;
    z-index: 3;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 0;
    .icon {
      width: 60px;
      height: 60px;
      fill: #fff;
      stroke: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.7;
      &_photo {
        width: 45px;
        height: 45px;
      }
    }
    span {
      opacity: 0.8;
      font-family: 'Manrope';
      display: block;
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 0;
      font-size: 10px;
      color: #fff;
      line-height: 25px;
    }
  }
  &:hover {
    .gallery-slide__icon {
      opacity: 0.7;
    }
  }
  &__container {
    outline: none;
    &:before {
      content: '';
      display: block;
      padding-top: 68%;
    }
  }
}

@media all and(max-width: 1400px) {
  .product-head__top {
    padding: 0 0 20px 0;
  }
  .product-head__more-info .title {
    font-size: 16px;
  }
  .product-head__title {
    margin-bottom: 10px;
  }
}
@media all and(max-width: 1200px) {
  .catalogue-block__model {
    font-size: 16px;
  }
}
@media all and(max-width: 992px) {
  .product-head__title {
    margin-bottom: 15px;
  }
}
@media all and(max-width: 768px) {
  .product-head__info {
    &:last-child {
      margin-top: 10px;
    }
  }
}
@media all and(max-width: 576px) {
  .product-head__more-info li {
    font-size: 14px;
  }
}