.contact-form-section {
  span {
    display: block;
    text-align: center;
    color: #000;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__number {
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 24px;
  }
}

.contact-form {
  max-width: 770px;
  margin: 30px auto 70px auto;
  &__button {
    display: flex;
    justify-content: center;
    .button {
      width: 180px;
    }
  }
}

@media all and(max-width: 576px) {
  .contact-form {
    margin: 25px 0;
    .button {
      width: 100%;
    }
  }
}