.design {
  &__title {
    color: #000;
  }
}
.design-tab {
  color: #000;
  text-align: center;
  &__image {
    margin-bottom: 25px;
    position: relative;
    &_2 {
      &:before {
        content: '';
        display: block;
        padding-top: 65.7%;
      }
    }
  }
  &__title {
    display: block;
    margin-bottom: 0.5em;
  }
}
.design-info__nav {
  margin-bottom: 20px;
  overflow: hidden;
  &-item {
    .button {
      width: 100%;
      text-align: center;
      &.active {
        pointer-events: none;
        background-color: $color1;
        border-color: $color1;
        color: #fff;
      }
    }
  }
}

@media all and(max-width: 768px) {
  
}
