.footer-holder {
  padding: 0 15px;
  background-color: #fcbfbf;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: none;
  &__container {
    height: 60px;
  }
}

@media all and(max-width: 768px) {
  .footer-holder {
    display: block;
  }
}