.main-banner {
  margin-bottom: 40px;
  &__container {
    width: 100%;
    display: flex;
  }
}
.main-slide {
  display: block;
  text-decoration: none;
  color: #fff;
  position: relative;
  font-family: 'Manrope';
  &__description {
    position: absolute;
    bottom: 25px;
    left: 25px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    max-width: 450px;
    padding: 20px 35px;
  }
  &__title {
    display: block;
    margin-bottom: 15px;
    line-height: 1.25;
  }
  &__category {
    display: none;
  }
  &__text {
    display: block;
  }
}


@media all and(max-width: 1400px) {
  .main-slide__description {
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    left: 20px;
    bottom: 20px;
    padding: 20px;
  }
}
@media all and(max-width: 576px) {
  .main-slide__description {
    left: 0;
    bottom: -55px;
    width: 100%;
    max-width: 100%;
    background: transparent;
    padding: 0;
  }
  .main-slide__title {
    margin: 0;
    color: $color1;
    text-decoration: underline;
  }
  .main-slide__category {
    display: block;
    color: #000;
  }
  .main-slide__text {
    display: none;
  }
}