.title {
  display: block;
  margin: 0;
  &_type1 {
    font-size: 36px;
  }
}
.t-size-36 {
  font-size: 36px;
}
.t-size-22 {
  font-size: 24px;
}
.t-size-18 {
  font-size: 18px;
}

@media all and(max-width: 1200px) {
  .t-size-36 {
    font-size: 32px;
  }
}
@media all and(max-width: 992px) {
  .t-size-36 {
    font-size: 28px;
  }
}
@media all and(max-width: 768px) {
  .t-size-36 {
    font-size: 24px;
  }
}
@media all and(max-width: 576px) {
  .t-size-36 {
    font-size: 20px;
  }
}