.title {
  display: block;
  margin: 0;
  &_style1 {
    margin-bottom: 40px;
    text-align: center;
    color: #000;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Manrope';
  line-height: 1.35;
  margin: 0;
}
p {
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
.t-size-64 {
  font-size: 64px;
  line-height: 1.25;
}
.t-size-36 {
  font-size: 36px;
}
.t-size-24 {
  font-size: 24px;
}
.t-size-12 {
  font-size: 12px;
}
.t-size-18 {
  font-size: 18px;
}

@media all and(max-width: 1200px) {
  .t-size-36 {
    font-size: 32px;
  }
}
@media all and(max-width: 992px) {
  .t-size-36 {
    font-size: 28px;
  }
  .t-size-64 {
    font-size: 46px;
  }
}
@media all and(max-width: 768px) {
  .t-size-36 {
    font-size: 24px;
  }
  .t-size-24 {
    font-size: 20px;
  }
  .t-size-64 {
    font-size: 46px;
    line-height: 1.5;
  }
}
@media all and(max-width: 576px) {
  .t-size-36 {
    font-size: 22px;
  }
  .title_style1 {
    margin-bottom: 25px;
  }
  .t-size-24 {
    font-size: 18px;
  }
  .t-size-64 {
    font-size: 28px;
    line-height: 1.5;
  }
}