@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');
@import "./partials/fonts";


body {
  text-rendering: optimizeSpeed;
  font: 14px "Roboto", sans-serif;
  color: #000;
  min-width: 320px;
  position: relative;
  line-height: 1.35;
}
.nav-opened {
  height: 100%;
  body,
  .wrapper {
    height: 100%;
  }
  .aside {
    height: calc(100% - 60px);
  }
  .aside__container {
    height: 100%;
  }
}
.wrapper {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
$main-color: #E52329;
$hover-color: #ff3c43;
$border-color: #dddddd;

.main {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  &__content {
    padding-bottom: 75px;
  }
  .dummy {
    background-color: #dddddd;
    display: block;
    height: 100px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.nicescroll-rails {
  width: 20px !important;
}
.nicescroll-cursors {
  padding: 5px !important;
  width: 20px !important;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: calc(100% - 12px);
    left: 6px;
    top: 6px;
    background-color: #dfdfdf;
    border-radius: 8px;
  }
}

@media all and(max-width: 1200px) {
  .main {
    padding: 0 20px 0 0;
  }
}
@media all and(max-width: 768px) {
  .wrapper {
    display: block;
  }
  .main {
    padding: 60px 15px;
    &__container {
      padding: 20px 0 30px 0;
    }
    &__content {
      padding: 0;
    }
  }
  .nicescroll-rails {
    width: 15px !important;
  }
  .nicescroll-cursors {
    width: 15px !important;
    &:after {
      width: 5px;
      height: calc(100% - 10px);
      top: 5px;
      left: 5px;
      border-radius: 5px;
    }
  }
}

@import "partials/ui";
@import "partials/header";
@import "partials/aside";
@import "partials/footer";
