@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');
@import "./partials/fonts";

$color1: #e52329;
$color2: #ff3c43;
$color3: #dddddd;
$color4: #000;
$color5: #616161;
$color6: #757575;
$color7: #ED6842;
$color8: #FFA54F;

html, body {
  overflow: hidden;
}
body {
  text-rendering: optimizeSpeed;
  font: 14px "Roboto", sans-serif;
  color: $color5;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
}
.nav-opened {
  .aside {
    height: calc(100% - 60px);
  }
}
.wrapper {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  overflow: hidden;
  &__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__content {
    padding-bottom: 75px;
  }
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.nicescroll-rails {
  width: 20px !important;
}
.nicescroll-cursors {
  padding: 5px !important;
  width: 20px !important;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: calc(100% - 12px);
    left: 6px;
    top: 6px;
    background-color: #dfdfdf;
    border-radius: 8px;
  }
}

//
.sitemap-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  li {
    display: block;
    border-bottom: 1px solid $color3;
  }
  a {
    color: #000;
  }
}

@media all and(max-width: 992px) {
  .wrapper {
    display: block;
  }
  .main {
    padding: 60px 15px;
    &__container {
      padding: 20px 0 70px 0;
      min-height: calc(100vh - 120px)
    }
    &__content {
      padding: 0;
    }
  }
  .nicescroll-rails {
    width: 15px !important;
  }
  .nicescroll-cursors {
    width: 15px !important;
    &:after {
      width: 5px;
      height: calc(100% - 10px);
      top: 5px;
      left: 5px;
      border-radius: 5px;
    }
  }
}

@import "partials/ui";
@import "partials/select";
@import "partials/catalogue";
@import "partials/header";
@import "partials/aside";
@import "partials/blocks";
@import "partials/design";
@import "partials/text";
@import "partials/main-slider";
@import "partials/contact-form";
@import "partials/news";
@import "partials/cart";
@import "partials/footer";
