doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      a(href="#").button.button_scroll-top
        span
         <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              section.tile-categories-destination
                .page-head
                  h1.page-head__item.page-head__title.t-size-36 Каталог керамической плитки
                .tile-categories-destination__list.row
                  .block.block_type3.block_size1.col-xl-6.col-12
                    a(href="#").content.background-box
                      .lazy(src='#' data-src='img/contentImages/stock-photo-interior4.jpg')
                      .block__text
                        span.block__title.t-size-24 Плитка для ванной
                        span.block__description Элегантные решения для вашей кухни
                  .block.block_type3.block_size1.col-xl-6.col-12
                    a(href="#").content.background-box
                      .lazy(src='#' data-src='img/contentImages/stock-photo-interior5.jpg')
                      .block__text
                        span.block__title.t-size-24 Плитка для пола
                        span.block__description Элегантные решения для вашей кухни
                  .block.block_type3.block_size1.col-xl-6.col-12
                    a(href="#").content.background-box
                      .lazy(src='#' data-src='img/contentImages/shutterstock_396818590.jpg')
                      .block__text
                        span.block__title.t-size-24 Плитка для кухни
                        span.block__description Элегантные решения для вашей кухни
                  .block.block_type3.block_size1.col-xl-6.col-12
                    a(href="#").content.background-box
                      .lazy(src='#' data-src='img/contentImages/stock-photo-interior6.jpg')
                      .block__text
                        span.block__title.t-size-24 Плитка для фасада
                        span.block__description Элегантные решения для вашей кухни
              section.section.tile-categories-manufacturer
                h5.section__title Производители
                .row
                  .block.block_type4.block_size2.col-xl-4.col-md-6.col-12
                    a(href="#").content.background-box
                      .lazy(src='#' data-src='img/contentImages/alta cera.jpg')
                      .block__text
                        span.block__title.t-size-36 AltaCera
                        span.block__description Италия. Классика/барокко
                  .block.block_type4.block_size2.col-xl-4.col-md-6.col-12
                    a(href="#").content.background-box
                      .lazy(src='#' data-src='img/contentImages/azori_eclipse_indigo.jpg')
                      .block__text
                        span.block__title.t-size-36 Azori
                        span.block__description Испания. Модерн / хай-тек
                  .block.block_type4.block_size2.col-xl-4.col-md-12
                    a(href="#").content.background-box
                      .lazy(src='#' data-src='img/contentImages/interyer_aura_grafite.jpg')
                      .block__text
                        span.block__title.t-size-36 Kerlife
                        span.block__description Испания. Модерн / классика
                  .block.block_type4.block_size3.col-xl-6.col-12
                    a(href="#").content.background-box
                      .lazy(src='#' data-src='img/contentImages/zeus.jpg')
                      .block__text
                        span.block__title.t-size-36 TerraDesign
                        span.block__description Италия. Классика/барокко
                  .col-xl-6.col-12
                    .row.row_inner
                      .block.block_type4.block_size4.col-xl-12
                        a(href="#").content.background-box
                          .lazy(src='#' data-src='img/contentImages/terra.jpg')
                          .block__text
                            span.block__title.t-size-36 Zeus Ceramica
                            span.block__description Украина. Классика/барокко
                      .block.block_type4.block_size4.col-xl-12
                        a(href="#").content.background-box
                          .lazy(src='#' data-src='img/contentImages/shutterstock_dela.jpg')
                          .block__text
                            span.block__title.t-size-36 DelaCora
                            span.block__description Украина. Классика/барокко
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")