doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      a(href="#").button.button_scroll-top
        span
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              section.catalogue
                .page-head
                  h1.page-head__item.page-head__title.t-size-36 Плитка для ванной
                  .page-head__content 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laboriosam nesciunt sed error beatae odit illo, ipsum eligendi, nulla et labore! Adipisci corrupti labore nesciunt?
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio perferendis, nobis inventore laborum accusantium esse sed ullam.
                include blocks/catalogue-block
              include blocks/interesting-items
              .categories-block-last
                include blocks/categories2
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")