doctype html
html(lang="ru")
  head
    include blocks/head
  body.catalogue-page
    .wrapper
      a(href="#").button.button_scroll-top
        span
         <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              section.catalogue
                .banner.banner_top
                  .block.block_type4.block_size4
                      a(href="#").content.background-box
                        .lazy(data-src='img/contentImages/stock-photo-catalogue.jpg')
                        .block__text
                          h1.block__title.t-size-64 AltaCera
                          span.block__description Натуральные природные оттенки и сочное текстильное<br> оформление обеспечивают роскошный интерьер.
                include blocks/catalogue-block
              include blocks/interesting-items
              .categories-block-last
                include blocks/categories2
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")