doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      a(href="#").button.button_scroll-top
        span
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside 
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              include blocks/map
              include blocks/contact-form
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")