doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      a(href="#").button.button_scroll-top
        span
         <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside 
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              include blocks/map
              section.section.adress-section
                h5.section__title Адреса магазинов
                .row
                  .block.block_type6.col-xl-3.col-lg-4.col-sm-6.col-12 
                    .content
                      <svg class="icon icon_style2"><use xlink:href="img/icons/icons-sprite.svg#icon26"></use></svg>
                      .block__title.t-size-16 «Estima»
                      .block__content
                        p.block__info Ул. Плехановская, 29<br> +7 (4732) 300-00-23<br> +7 (4732) 300-00-23
                        p.block__info Время работы: 9:00-21:00<br> Режим работы: Пн-Пт
                  .block.block_type6.col-xl-3.col-lg-4.col-sm-6.col-12 
                    .content
                      <svg class="icon icon_style2"><use xlink:href="img/icons/icons-sprite.svg#icon26"></use></svg>
                      .block__title.t-size-16 «Keramix»
                      .block__content
                        p.block__info Ул. Плехановская, 29<br> +7 (4732) 300-00-23<br> +7 (4732) 300-00-23
                        p.block__info Время работы: 9:00-21:00<br> Режим работы: Пн-Пт
                  .block.block_type6.col-xl-3.col-lg-4.col-sm-6.col-12 
                    .content
                      <svg class="icon icon_style2"><use xlink:href="img/icons/icons-sprite.svg#icon26"></use></svg>
                      .block__title.t-size-16 «Вектор керамика»
                      .block__content
                        p.block__info Ул. Плехановская, 29<br> +7 (4732) 300-00-23
                        p.block__info Время работы: 9:00-21:00<br> Режим работы: Пн-Пт
                  .block.block_type6.col-xl-3.col-lg-4.col-sm-6.col-12 
                    .content
                      <svg class="icon icon_style2"><use xlink:href="img/icons/icons-sprite.svg#icon26"></use></svg>
                      .block__title.t-size-16 «Kerama Marazzi»
                      .block__content
                        p.block__info Ул. Революции тысяча девятьсотпятого года, 29
                        p.block__info +7 (4732) 300-00-23
                        p.block__info Время работы: 9:00-21:00<br> Режим работы: Пн-Пт
                  .block.block_type6.col-xl-3.col-lg-4.col-sm-6.col-12 
                    .content
                      <svg class="icon icon_style2"><use xlink:href="img/icons/icons-sprite.svg#icon26"></use></svg>
                      .block__title.t-size-16 «Keramix»
                      .block__content
                        p.block__info Ул. Плехановская, 29<br> +7 (4732) 300-00-23<br> +7 (4732) 300-00-23
                        p.block__info Время работы: 9:00-21:00<br> Режим работы: Пн-Пт
                  .block.block_type6.col-xl-3.col-lg-4.col-sm-6.col-12 
                    .content
                      <svg class="icon icon_style2"><use xlink:href="img/icons/icons-sprite.svg#icon26"></use></svg>
                      .block__title.t-size-16 «Keramix»
                      .block__content
                        p.block__info Ул. Плехановская, 29<br> +7 (4732) 300-00-23<br> +7 (4732) 300-00-23
                        p.block__info Время работы: 9:00-21:00<br> Режим работы: Пн-Пт
              include blocks/contact-form
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")