doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      a(href="#").button.button_scroll-top
        span
         <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              section.design
                mixin slide(title, text)
                  .slide.block.block_type7.block_size6
                    .slide__container.content.background
                      .lazy&attributes(attributes)
                      .block__text
                        h2.block__title.t-size-36=title
                        p.block__description.t-size-18=text
                .design__head.block.block_type4.block_size6
                  .content.background
                    .lazy(data-src='img/banner/design-preview.jpg')
                    .block__text
                      h1.block__title.t-size-64 Закажите<br> дизайн проект!
                      span.block__sub-title.t-size-18 Правильно созданный дизайн-проект - <br>залог качественногои продуманного интерьера
                .section.design-slider
                  h5.section__title.design__title.t-size-36 Вы получаете:
                  .design-slider__nav
                    .row
                      .design-slider__nav-item.col-xl-4.col-sm-6.col-12
                        a(href="#").button.button_style4.t-size-16.active Визуализация
                      .design-slider__nav-item.col-xl-4.col-sm-6.col-12
                        a(href="#").button.button_style4.t-size-16 Раскладка
                      .design-slider__nav-item.col-xl-4.col-sm-6.col-12
                        a(href="#").button.button_style4.t-size-16 Расчет материала
                  .design-slider__slider.slider.slider_type2
                    +slide('Визуализация', '3D визуализация — это набор созданных дизайнером изображений, дающий представление об общей картине помещения: как будут сочетаться разные материалы, цвета и элементы. Вы сможете визуально оценить заранее и исправить все недочеты, чтобы итоговый вариант на 100% соответствовал вашим ожиданиям.')(data-src='img/banner/demo-bath.jpg')
                    +slide('Раскладка', '3D визуализация — это набор созданных исправить все недочеты, чтобы итоговый вариант на 100% соответствовал вашим ожиданиям.')(data-src='img/banner/stock-photo-interior3.jpg')
                    +slide('Расчет материала', '3D визуализация — это набор созданных дизайнером изображений, дающий представление об общей картине помещения: как будут сочетаться разные материалы, цвета и элементы. Вы сможете визуально оценить заранее и исправить все недочеты, чтобы итоговый вариант на 100% соответствовал вашим ожиданиям.')(data-src='img/banner/terra.jpg')
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")