doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      a(href="#").button.button_scroll-top
        span
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              section.design
                .design__head.block.block_type4.block_size6
                  .content.background-box
                    .lazy(data-src='img/contentImages/design-preview.jpg')
                    .block__text
                      h1.block__title.t-size-64 Закажите<br> дизайн проект!
                      span.block__sub-title.t-size-18 Правильно созданный дизайн-проект - <br>залог качественногои продуманного интерьера
                .section.design-info
                  h5.section__title.design__title.t-size-36 Вы получаете:
                  .design-info__nav
                    .row
                      .design-info__nav-item.col-xl-4.col-sm-6.col-12
                        a(href="#").button.button_style4.button_toggle.t-size-16.active Визуализация
                      .design-info__nav-item.col-xl-4.col-sm-6.col-12
                        a(href="#").button.button_style4.button_toggle.t-size-16 Раскладка
                      .design-info__nav-item.col-xl-4.col-sm-6.col-12
                        a(href="#").button.button_style4.button_toggle.t-size-16 Расчет материала
                  .design-info__tabs
                    .design-tab
                      .design-tab__image
                        .slider.slider_type2.design-tab__slider
                          .slide.block.block_type4.block_size6
                            a(href="img/contentImages/demo-bath.jpg" data-fancybox="gallery").content.cover-box.zoom-item.zoom-item_type-big
                              img.lazy(alt='image' data-src='img/contentImages/demo-bath.jpg')
                              .zoom-item__icon
                                <svg class="icon icon_photo"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                                span Увеличить
                          .slide.block.block_type4.block_size6
                            a(href="img/contentImages/design-preview.jpg" data-fancybox="gallery").content.cover-box.zoom-item.zoom-item_type-big
                              img.lazy(alt='image' data-src='img/contentImages/design-preview.jpg')
                              .zoom-item__icon
                                <svg class="icon icon_photo"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                                span Увеличить
                          .slide.block.block_type4.block_size6
                            a(href="img/contentImages/stock-photo-interior1.jpg" data-fancybox="gallery").content.cover-box.zoom-item.zoom-item_type-big
                              img.lazy(alt='image' data-src='img/contentImages/stock-photo-interior1.jpg')
                              .zoom-item__icon
                                <svg class="icon icon_photo"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                                span Увеличить
                      .design-tab__text
                        h5.design-tab__title.t-size-36 Визуализация
                        p.design-tab__text.t-size-18 3D визуализация — это набор созданных дизайнером изображений, дающий представление об общей картине помещения: как будут сочетаться разные материалы, цвета и элементы. Вы сможете визуально оценить заранее и исправить все недочеты, чтобы итоговый вариант на 100% соответствовал вашим ожиданиям.
                    .design-tab
                      .design-tab__image
                        a(href="img/design/image2.jpg" data-fancybox).cover-box.cover-box_size-auto.zoom-item.zoom-item_type-big
                          img.lazy(alt='image' data-src='img/design/image2.jpg')
                          .zoom-item__icon
                            <svg class="icon icon_photo"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                            span Увеличить
                      .design-tab__text
                        h5.design-tab__title.t-size-36 Раскладка
                        p.design-tab__text.t-size-18 3D визуализация — это набор созданных дизайнером изображений, дающий представление об общей картине помещения: как будут сочетаться разные материалы, цвета и элементы. Вы сможете визуально оценить заранее и исправить все недочеты, чтобы итоговый вариант на 100% соответствовал вашим ожиданиям.
                    .design-tab
                      .design-tab__image
                        a(href="img/design/image3.jpg" data-fancybox).cover-box.cover-box_size-auto.zoom-item.zoom-item_type-big
                          img.lazy(alt='image' data-src='img/design/image3.jpg')
                          .zoom-item__icon
                            <svg class="icon icon_photo"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                            span Увеличить
                      .design-tab__text
                        h5.design-tab__title.t-size-36 Расчет материала
                        p.design-tab__text.t-size-18 3D визуализация — это набор созданных дизайнером изображений, дающий представление об общей картине помещения: как будут сочетаться разные материалы, цвета и элементы. Вы сможете визуально оценить заранее и исправить все недочеты, чтобы итоговый вариант на 100% соответствовал вашим ожиданиям.
                .section.design-form
                  h5.section__title.design__title.t-size-36 Закажите дизайн проект прямо сейчас!
                  form(action="#").form.design-form__form
                    .design-form__head
                      .row
                        .design-form__head-section.col-xl-4.col-lg-12
                          .row.row_inner
                            .design-form__toggle-section.col-xl-12.col-lg-6.col-12
                              a(href="#").button.button_style4.button_toggle.button_toggle_state2.active Могу заказать самостоятельно
                            .design-form__toggle-section.col-xl-12.col-lg-6.col-12
                              a(href="#").button.button_style4.button_toggle.button_toggle_state1 Нужна помощь дизайнера
                        .design-form__head-section.col-xl-8.col-lg-12
                          .row
                            .block.block_type1.col-xl-3.col-6
                              a(href="#").content
                                <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon29"></use></svg>
                                span Санузел
                            .block.block_type1.col-xl-3.col-6
                              a(href="#").content
                                <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon30"></use></svg>
                                span Кухня
                            .block.block_type1.col-xl-3.col-6
                              a(href="#").content
                                <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon40"></use></svg>
                                span Гостинная
                            .block.block_type1.col-xl-3.col-6
                              a(href="#").content
                                <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon31"></use></svg>
                                span Другое
                    .design-form__brand
                      .row
                        .select-box.col-xl-3.col-lg-4.col-sm-6
                          span.label Производитель
                          .select
                            select
                              option(value="" data-display="Не выбрано") Не выбрано
                              option(value="") значение
                              option(value="") значение
                        .select-box.col-xl-3.col-lg-4.col-sm-6
                          span.label Коллекция
                          .select
                            select
                              option(value="" data-display="Все размеры") Не выбрано
                              option(value="") значение
                              option(value="") значение
                              option(value="") Не выбрано
                              option(value="") значение
                              option(value="") значение
                              option(value="") Не выбрано
                              option(value="") значение
                              option(value="") значение
                    .design-form__blocks
                      .row
                        .design-form__block.col-xl-4.col-lg-6.col-12
                          .design-form__block-container
                            .design-form__block-section.design-form__block-section_title
                              span 01
                              span.t-size-18 Помещение
                            .design-form__block-section
                              .design-form__tab.row
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='room')
                                    | Ванная
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='room')
                                    | Туалет
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='room')
                                    | Совмещеный
                              .design-form__tab.row
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='room')
                                    | Кухня
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='room')
                                    | Фартук
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='room')
                                    | Все помещение
                              .design-form__tab.row
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='room')
                                    | Гостиная
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='room')
                                    | Холл
                              .design-form__tab.row
                                .input-box.col-xl-12
                                  span.label Помещение
                                  input(type="text").input.input_style3
                            .design-form__block-section
                              .row
                                .input-box.col-xl-4
                                  span.label Длина (м.)
                                  input(type="text" placeholder='0').input.input_number.input_style3.js-validation.js-validation_num-only
                                .input-box.col-xl-4
                                  span.label Ширина (м.)
                                  input(type="text" placeholder='0').input.input_number.input_style3.js-validation.js-validation_num-only
                                .input-box.col-xl-4
                                  span.label Высота (м.)
                                  input(type="text" placeholder='0').input.input_number.input_style3.js-validation.js-validation_num-only
                                .input-box.col-xl-12
                                  textarea(placeholder='Особенности').input.input_style3.input_textarea
                                .input-box.col-xl-12
                                  label.button.button_load Загрузить план помещения
                                    input(type="file").js-validation.js-validation_file
                        .design-form__block.design-form__block_style.active.col-xl-4.col-lg-6.col-12
                          .design-form__block-container
                            .design-form__block-section.design-form__block-section_title
                              span 02
                              span.t-size-18 Направление<br> и стиль укладки
                            .design-form__block-section
                              .row
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='style1')
                                    | Вертикальная
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='style1')
                                    | Горизонтальная
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='style1')
                                    | Диагональная
                            .design-form__block-section
                              .row
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='style2')
                                    | Классический (светлый верх, тёмный низ)
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='style2')
                                    | Зонирование
                                .input-box.col-xl-12
                                  label.radio
                                    input(type="radio" name='style2')
                                    | На усмотрение дизайнера
                                .input-box.col-xl-12
                                  textarea(placeholder='Особенности').input.input_style3.input_textarea
                        .design-form__block.col-xl-4.col-lg-12
                          .design-form__block-container
                            .design-form__block-section.design-form__block-section_title
                              span 03
                              span.t-size-18 Контактные<br> данные
                            .design-form__block-section
                              .row
                                .input-box.col-xl-12.col-lg-6.col-12
                                  input(type="text" name="name1" placeholder="Имя").input.input_style3.required
                                .input-box.col-xl-12.col-lg-6.col-12
                                  input(type="text" name="name2" placeholder="Фамилия").input.input_style3.required
                                .input-box.col-xl-12.col-lg-6.col-12
                                  input(type="text" name="name3" placeholder="Отчество").input.input_style3.required
                                .input-box.col-xl-12.col-lg-6.col-12
                                  input(type="email" name="email" placeholder="e-mail").input.input_style3.js-validation.js-validation_email
                                .input-box.col-xl-12.col-lg-6.col-12
                                  input(type="text" name="phone" placeholder="Номер телефона +7").input.input_style3.js-validation.js-validation_phone.required
                                .input-box.col-xl-12
                                  textarea(placeholder='Комментарии').input.input_style3.input_textarea
                    .design-form__submit.row
                      .col-xl-4.col-sm-6.col-12
                        button(type='submit').button.button_style1 Заказать
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")