doctype html
html(lang="ru")
  head
    include blocks/head
  body.main-page
    .wrapper
      a(href="#").button.button_scroll-top
        span
         <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              include blocks/main-slider
              include blocks/categories1
              include blocks/categories2
              include blocks/manufacturers
              include blocks/map-section
              include blocks/contact-form
          include blocks/footer  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")     
    script(src="js/common.min.js")