doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      include blocks/aside   
      main.main
        .main__container
          include blocks/header
          .main__content
            span.dummy
            span.dummy
            span.dummy
            span.dummy
            span.dummy
            span.dummy
            span.dummy
            span.dummy
            span.dummy
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")