doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      a(href="#").button.button_scroll-top
        span
         <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              section.payment
                .page-head
                  h1.page-head__item.page-head__title.t-size-36 Оплата и доставка
                  p.page-head__item.page-head__description.t-size-18 Приобретая товары на Remeslovrn.ru, Вы можете воспользоваться<br> одной из нижеперечисленных опций:
                .payment__list.row
                  .block.block_type5.col-xl-4.col-sm-12
                    .content
                      .block__front
                        .block__icon  
                          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon4"></use></svg>
                        .block__title.t-size-16 Самовывоз
                      .block__more
                        p.t-size-12 Товар, приобретенный в нашем интернет магазине  Вы можете самостоятельно забрать с нашего склада, который находится по адресу:  г. Воронеж, переулок Отличников 1Д,. Предварительно не забудьте согласовать время приезда с менеджером нашей компании.
                  .block.block_type5.col-xl-4.col-sm-12
                    .content
                      .block__front
                        .block__icon  
                          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon38"></use></svg>
                        .block__title.t-size-16 Доставка по Воронежу<br> и области
                      .block__more
                        p.t-size-12 В случае, если Вам требуется доставка товара по Воронежу и Воронежской области, Вы можете заказать данную услугу при оформлении онлайн-заказа или по телефону у менеджера.
                  .block.block_type5.col-xl-4.col-sm-12
                    .content
                      .block__front
                        .block__icon  
                          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon5"></use></svg>
                        .block__title.t-size-16 Услуга разгрузки<br> и подъема на этаж
                      .block__more
                        p.t-size-12 При доставке товара по Воронежу и Воронежской области, Вы можете заказать услугу разгрузки и подъема продукции на этаж. Точную стоимость услуги Вы можете уточнить у менеджера.
                  .block.block_type6.col-xl-6.col-12
                    .content
                      .block__top
                        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon22"></use></svg>
                        .block__title.t-size-16 Оплата наличными
                      .block__more
                        p.t-size-12 Оплатите в магазине или курьеру<br> при доставке
                  .block.block_type6.col-xl-6.col-12
                    .content
                      .block__top
                        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon39"></use></svg>
                        .block__title.t-size-16 Безналичный расчет
                      .block__more
                        p.t-size-12 Счет на оплату придет вам на e-mail<br> после согласования заказа с менеджером
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")