#popup-succes.popup.popup-succes.fancybox-content
  .popup-succes__container
    .popup-succes__icon.popup-succes__item
      svg.icon
        use(xlink:href='img/icons/icons-sprite.svg#icon20')
    .popup-succes__text Благодарим за Вашу заявку. 
    .popup-succes__text Наш дизайнер свяжется с вами в ближайшее время
    a.button.button_style1.popup-succes__close(href='#', data-fancybox-close) Закрыть