doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      a(href="#").button.button_scroll-top
        span
         <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              include blocks/breadcrumbs
              .product-card
                include blocks/collection-head
                +hd()
                  .product-head__item
                    .product-head__section
                      .product-head__section-block
                        span.label Производитель
                        ul.appointment-list
                          li.appointment-list__item
                            .icon-box.icon-box_style4.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/countries-sprite.svg#italy"></use></svg>
                            span Италия
                      .product-head__section-block
                        include blocks/calculator
                    button.button.button_style1.product-head__button В корзину
                section.section
                  h5.section__title Элементы коллекции
                  .row
                    include blocks/elements-block
                    +block('Marbella Arabesco')(data-src="img/banner/tile5.jpg")
                    +block('Marbella Arabesco')(data-src="img/banner/interyer_aura_grafite.jpg")
                    +block('Marbella Arabesco')(data-src="img/banner/tile5.jpg")
                    +block('Marbella Arabesco')(data-src="img/banner/interyer_aura_grafite.jpg")
                section.section
                  h5.section__title Подходящие товары
                  .row
                    include blocks/elements-block
                    +block('Marbella Arabesco')(data-src="img/banner/tile5.jpg")
                    +block('Marbella Arabesco')(data-src="img/banner/interyer_aura_grafite.jpg")
                    +block('Marbella Arabesco')(data-src="img/banner/tile5.jpg")
                    +block('Marbella Arabesco')(data-src="img/banner/interyer_aura_grafite.jpg")
                include blocks/interesting-items
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")