doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper(data-selectable="true")
      a(href="#").button.button_scroll-top
        span
         <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              include blocks/breadcrumbs
              section.product-card
                .product-head
                  .row
                    .product-head__gallery.col-xl-6.col-lg-5.col-sm-12
                      .product-slider.slider
                        //item1
                        .product-slider__slide.slide
                          a(href="img/contentImages/tile10.jpg" data-fancybox="gallery").block.block_size-image.cover-box.cover-box_contain.zoom-item.zoom-item_type-big
                            img(data-src="img/contentImages/tile10.jpg", alt="").lazy
                            .zoom-item__icon
                              <svg class="icon icon_photo"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                              span Увеличить
                        //item2
                        .product-slider__slide.slide
                          a(href="img/contentImages/stock-photo-interior1.jpg" data-fancybox="gallery").block.block_size-image.cover-box.zoom-item.zoom-item_type-big
                            img(data-src="img/contentImages/stock-photo-interior1.jpg", alt="").lazy
                            .zoom-item__icon
                              <svg class="icon icon_photo"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                              span Увеличить
                        //item3
                        .product-slider__slide.slide
                          a(href="img/contentImages/tile10.jpg" data-fancybox="gallery").block.block_size-image.cover-box.cover-box_contain.zoom-item.zoom-item_type-big
                            img(data-src="img/contentImages/tile10.jpg", alt="").lazy
                            .zoom-item__icon
                              <svg class="icon icon_photo"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                              span Увеличить
                      .product-slider-nav.row
                        //item1
                        .product-slider-nav__item.col-xl-4
                          a(href="#").block.block_size-image.cover-box.zoom-item.zoom-item_type-small.active
                            .zoom-item__icon
                              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                            img(data-src="img/contentImages/tile10.jpg", alt="").lazy
                        //item2
                        .product-slider-nav__item.col-xl-4
                          a(href="#").block.block_size-image.cover-box.zoom-item.zoom-item_type-small
                            .zoom-item__icon
                              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                            img(data-src="img/contentImages/tile10.jpg", alt="").lazy
                        //item3
                        .product-slider-nav__item.col-xl-4
                          a(href="#").block.block_size-image.cover-box.zoom-item.zoom-item_type-small
                            .zoom-item__icon
                              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon6"></use></svg>
                            img(data-src="img/contentImages/tile10.jpg", alt="").lazy
                    .product-head__info.col-xl-6.col-lg-7.col-sm-12
                      .product-head__top
                        .product-head__title
                          h1.t-size.t-size-36 Kerlife Intenso
                          span.product-head__art Арт. 238901734
                        p Коллекция плитки размерами 20,1 х 50,5 см имитирует рисунок дерева, подчеркивая рисунок легкой текстурой. Оживляют интерьер панно с мягким цветочным узором и узкие бордюры, комбинация которых позволяет сформировать оригинальный дизайн неповторимой отделки.
                      .product-head__bottom.row
                        .col-xl-6.col-12
                          .product-head__item
                            .product-head__section
                              .product-head__section-block
                                span.label Производитель
                                ul.appointment-list
                                  li.appointment-list__item
                                    .icon-box.icon-box_style4.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/countries-sprite.svg#italy"></use></svg>
                                    span Италия
                              .product-head__section-block
                                include blocks/calculator
                            button.button.button_style1.product-head__button В корзину
                        .col-xl-6.col-12
                          .product-head__item
                            .product-head__more-info
                              button.button.button_style2.button_close.button-toggle
                                  <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
                              .scroll
                                .scroll-container
                                  .scroll-wrapper
                                    span.title Информация о коллекции
                                    ul
                                      li
                                        span Стиль коллекции: 
                                        span Классика / модерн
                                      li
                                        span Основной цвет:
                                        span Белый
                                      li
                                        span Тип:
                                        span Керамическая плитка
                                      li
                                        span Категория: 
                                        span Декор
                                      li
                                        span Текстура:
                                        span Мрамор
                                      li
                                        span Размер:
                                        span до 50 см ( Средний)
                                      li
                                        span Поверхность:
                                        span Глянцевая/ матовая
                                      li
                                        span Толщина:
                                        span от 8,5 см до 12 см
                            .product-head__section
                              .product-head__section-block
                                span.label Назначение
                                ul.appointment-list
                                  li.appointment-list__item
                                    .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon3"></use></svg>
                                    span Для ванной
                                  li.appointment-list__item
                                    .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon11"></use></svg>
                                    span Для кухни
                                  li.appointment-list__item
                                    .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon7"></use></svg>
                                    span Для пола
                                  li.appointment-list__item
                                    .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon12"></use></svg>
                                    span Для еще чего-то
                            a(href="#").button.button_style6.product-head__button.button-toggle Больше информации
              include blocks/cards
              section.section.catalogue
                h5.section__title Похожие коллекции
                .row
                  +block2('Marbella Arabesco')(data-src="img/contentImages/tile5.jpg")
                  +block2('Marbella Arabesco')(data-src="img/contentImages/tile5.jpg")
                  +block2('Marbella Arabesco')(data-src="img/contentImages/tile5.jpg")
                  +block2('Marbella Arabesco')(data-src="img/contentImages/tile5.jpg")
              section.section.catalogue
                h5.section__title Cопутствующие товары
                .row
                  +block2('Marbella Arabesco')(data-src="img/contentImages/tile5.jpg")
                  +block2('Marbella Arabesco')(data-src="img/contentImages/tile5.jpg")
                  +block2('Marbella Arabesco')(data-src="img/contentImages/tile5.jpg")
                  +block2('Marbella Arabesco')(data-src="img/contentImages/tile5.jpg")
                include blocks/interesting-items
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")