doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      a(href="#").button.button_scroll-top
        span
         <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          include blocks/header
          .main__content
            include blocks/breadcrumbs
            .product-card
              include blocks/collection-head
              +hd()
                .product-head__section
                  .product-head__section-block
                    span.label Производитель
                    ul.appointment-list
                      li.appointment-list__item
                        .icon-box.icon-box_style4.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/countries-sprite.svg#italy"></use></svg>
                        span Италия
                  .product-head__section-block
                    include blocks/calculator
              include blocks/elements-block
              include blocks/interesting-items
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='http://www.ceramic3d.com/c3dpanoNew.js?v1')
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")