doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      a(href="#").button.button_scroll-top
        span
         <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon18"></use></svg>
      include blocks/aside   
      main.main
        .main__container
          .main__top
            include blocks/header
            .main__content
              section.projects
                .page-head
                  h1.page-head__item.page-head__title.t-size-36 Дизайн проекты
                  p.page-head__item.page-head__description.t-size-18 В этом разделе вы найдете дизайн проекты для оформления ванных комнат.<br> Вы можете выбрать любой из готовых дизайнов или Мы можем для Вас разработать<br> индивидуальное решение из любой коллекции и плитки,<br> представленной на нашем сайте.
                include blocks/design-projects
              .categories-block-last
                include blocks/categories2
          include blocks/footer
    script(src="https://unpkg.com/current-device/umd/current-device.min.js")       
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")