aside.aside
  .aside__container
    .aside__head
      .logo
        a(href="#")
          img(src="img/logos/logo.svg", alt="main-logo")
    .aside__content
      .aside__buttons
        a(href="#").button.button_style1.aside__button Каталог товаров
          .toggle-item
            span
      .aside__nav.scroll
        .scroll-container
          .scroll-wrapper
            nav.nav
              ul.nav__list
                li.nav__item
                  a(href="#").nav__link.nav__link_decorated.button.button_style3 Новинки
                li.nav__item
                  a(href="#").nav__link.nav__link_decorated.button.button_style3 Акции
                li.nav__item
                  a(href="#").nav__link.nav__link_decorated.button.button_style3 Хиты продаж
                li.nav__item
                  a(href="#").nav__link.button.button_style3 Дизайн проекты
                li.nav__item
                  a(href="#").nav__link.button.button_style3 Оплата и доставка
                li.nav__item
                  a(href="#").nav__link.button.button_style3 Для покупателя
                li.nav__item
                  a(href="#").nav__link.button.button_style3 О компании
                li.nav__item
                  a(href="#").nav__link.button.button_style3 Контакты
