aside.aside.filtered
  .aside__container
    .aside__head
      .logo
        a(href="index.html")
          img(src="img/logos/logo.svg", alt="main-logo")
      a(href="#").nav-toggle.button.button_style2
        .toggle-item
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon16"></use></svg>
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
    .aside__content
      .aside__buttons
        a(href="#").button.button_style1.aside__button.catalogue-toggle
          span Каталог товаров
          .toggle-item
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon16"></use></svg>
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
          span Меню
        a(href="#").button.button_style4.aside__button.filter-toggle Подберите товар
          .toggle-item
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon14"></use></svg>
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
        .aside__filter-head
          span.aside__title Подберите плитку
          .aside__show-btn-container
            a(href="#").button.button_style1.aside__button.result-link Показать 0 товаров
      .aside__nav.shadow-decorated
        nav.nav.aside__block 
          .scrollbar(data-scrollbar)
            ul.nav__list
              li.nav__item
                a(href="#").nav__link.nav__link_decorated.button.button_style3 Новинки
              li.nav__item
                a(href="#").nav__link.nav__link_decorated.button.button_style3 Акции
              li.nav__item
                a(href="#").nav__link.nav__link_decorated.button.button_style3 Хиты продаж
              li.nav__item
                a(href="#").nav__link.button.button_style3 Дизайн-проекты
              li.nav__item
                a(href="#").nav__link.button.button_style3 Оплата и доставка
              li.nav__item
                a(href="#").nav__link.button.button_style3 Для покупателя
              li.nav__item
                a(href="#").nav__link.button.button_style3 О компании
              li.nav__item
                a(href="#").nav__link.button.button_style3 Контакты
            ul.nav__list.nav__list_contacts
              li.nav__item
                .nav__label Телефоны:
                a(href="tel:74732070396").nav__link.button.button_style3.nav__phone +7 (473) 207-03-96
                a(href="tel:74732070396").nav__link.button.button_style3.nav__phone +7 (473) 207-03-96
              li.nav__item
                .nav__label Режим работы:
                span Пн-Пт, 09:00 - 19:00<br> Сб-Вс, 10:00 - 17:00
              li.nav__item.nav__item_artica
                .artica-link Разработка и поддержка сайта —  
                  a(href="http://artica.art/" target='_blank') <svg viewBox="0 0 73 15" xmlns="http://www.w3.org/2000/svg"><path d="M8.75772 3.51558L15.47 14.7632H17.5154L8.75772 0.0881348L0 14.7632H2.04541L8.75772 3.51558Z"/><path d="M63.671 3.51558L70.3834 14.7632H72.4288L63.671 0.0881348L54.9133 14.7632H56.9587L63.671 3.51558Z" /><path d="M41.6583 5.05872H40.0015V14.9999H41.6583V5.05872Z" /><path d="M36.6877 5.05872H27.93V6.59984H31.4428V14.7632H33.1749V6.59984H36.6877V5.05872Z" /><path d="M52.6787 12.4871C52.0191 13.1514 51.0959 13.5654 50.0724 13.5654C48.0685 13.5654 46.444 11.9823 46.444 10.0293C46.444 8.07636 48.0685 6.49318 50.0724 6.49318C51.0959 6.49318 52.0191 6.90718 52.6787 7.57157L53.9665 6.82459C53.0311 5.7458 51.6352 5.05872 50.0724 5.05872C47.2556 5.05872 44.9721 7.28413 44.9721 10.0293C44.9721 12.7745 47.2556 14.9999 50.0724 14.9999C51.6352 14.9999 53.0311 14.3128 53.9665 13.234L52.6787 12.4871Z" /><path d="M22.8097 10.5225C24.0518 10.2559 24.9907 9.14335 24.9907 7.82118V7.82117C24.9907 6.30182 23.751 5.05872 22.2359 5.05872H16.0953L16.9956 6.52827H22.2693C22.9759 6.52827 23.554 7.11874 23.554 7.84045C23.554 8.56213 22.9759 9.15261 22.2693 9.15261H21.9966H21.0644V10.5836V10.6311L23.5167 14.7632H25.3264L22.8097 10.5225Z" /></svg>
        .catalogue-nav.aside__block
          .scrollbar(data-scrollbar)
            ul.catalogue-nav__list
              li.catalogue-nav__section.active
                a.catalogue-nav__section-title.button.button_style3(href='kollekcii') Первый пункт
                ul
                  li
                    a.button.button_style3(href='kollekcii/dlya-vannoj') Второстепенный пункт
                  li.active
                    a.button.button_style3(href='kollekcii/dlya-pola') Второстепенный пункт
                  li
                    a.button.button_style3(href='kollekcii/dlya-kuhni') Второстепенный пункт
              li.catalogue-nav__section
                a.catalogue-nav__section-title.button.button_style3(href='keramicheskaya-plitka') Первый пункт
                ul
                  li
                    a.button.button_style3(href='keramicheskaya-plitka/plitka-dlya-vannoj') Второстепенный пункт
                  li
                    a.button.button_style3(href='keramicheskaya-plitka/plitka-dlya-kuhni') Второстепенный пункт
                  li
                    a.button.button_style3(href='keramicheskaya-plitka/plitka-dlya-pola') Второстепенный пункт
              li.catalogue-nav__section
                a.catalogue-nav__section-title.button.button_style3(href='keramicheskij-granit') Первый пункт
                ul
                  li
                    a.button.button_style3(href='keramicheskij-granit/keramogranit-dlya-pola') Второстепенный пункт
                  li
                    a.button.button_style3(href='keramicheskij-granit/keramogranit-dlya-fasada') Второстепенный пункт
              li.catalogue-nav__section
                a.catalogue-nav__section-title.button.button_style3(href='mozaika') Первый пункт
                ul
                  li
                    a.button.button_style3(href='mozaika/mozaika-steklyannaya') Второстепенный пункт
              li.catalogue-nav__section
                a.catalogue-nav__section-title.button.button_style3(href='soputstvuyuschie-tovary') Первый пункт
                ul
                  li
                    a.button.button_style3(href='suhie-smesi/gruntovka') Второстепенный пункт
                  li
                    a.button.button_style3(href='suhie-smesi/klej-dlya-plitki') Второстепенный пункт
                  li
                    a.button.button_style3(href='suhie-smesi/zatirki') Второстепенный пункт
                  li
                    a.button.button_style3(href='katalog/soputstvuyuschie-tovary/bordyur') Второстепенный пункт
        form(action="#").filter.aside__block
          .scrollbar(data-scrollbar)
            .filter__container
              .filter-section.filter-section_price
                span.filter-section__title ЦЕНА:
                .filter-section__content.shadow-decorated
                  .filter-section__price
                    .filter-section__price-input
                      input.input.input_style1(type="text" placeholder="от 0").js-validation.js-validation_num-only
                    .filter-section__price-input
                      input.input.input_style1(type="text" placeholder="до 99999").js-validation.js-validation_num-only
              .filter-section.active
                a(href="#").filter-section__title ПРОИЗВОДИТЕЛЬ:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox" disabled)
                      | TerraDesign
                    label.checkbox
                      input(type="checkbox")
                      | Kerlife
                    label.checkbox
                      input(type="checkbox")
                      | Azori 
                    label.checkbox
                      input(type="checkbox")
                      | AltaCera
              .filter-section
                a(href="#").filter-section__title ПРОИЗВОДИТЕЛЬ:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox")
                      | Россия
                    label.checkbox
                      input(type="checkbox")
                      | Китай
                    label.checkbox
                      input(type="checkbox")
                      | Украина
              .filter-section
                a(href="#").filter-section__title Размер:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox")
                      | Значение какое-то очень длинное
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
              .filter-section
                a(href="#").filter-section__title ЦВЕТ:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
              .filter-section
                a(href="#").filter-section__title НАЗНАЧЕНИЕ:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
              .filter-section
                a(href="#").filter-section__title Стиль:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
              button(type='reset' disabled).button.button_style4.filter__reset.reset-btn Сбросить фильтры

                    