aside.aside.filtered
  .aside__container
    .aside__head
      .logo
        a(href="index.html")
          img(src="img/logos/logo.svg", alt="main-logo")
      a(href="#").nav-toggle.button.button_style2
        .toggle-item
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon16"></use></svg>
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
    .aside__content
      .aside__buttons
        a(href="#").button.button_style1.aside__button.catalogue-toggle
          span Каталог товаров
          .toggle-item
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon16"></use></svg>
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
          span Меню
        a(href="#").button.button_style4.aside__button.filter-toggle Подберите товар
          .toggle-item
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon14"></use></svg>
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
        .aside__filter-head
          span.aside__title Подберите плитку
          .aside__show-btn-container
            a(href="#").button.button_style1.aside__button.result-link Показать 0 товаров
      .aside__nav.shadow-decorated
        nav.nav.aside__block 
          .scrollbar(data-scrollbar)
            ul.nav__list
              li.nav__item
                a(href="#").nav__link.nav__link_decorated.button.button_style3 Новинки
              li.nav__item
                a(href="#").nav__link.nav__link_decorated.button.button_style3 Акции
              li.nav__item
                a(href="#").nav__link.nav__link_decorated.button.button_style3 Хиты продаж
              li.nav__item
                a(href="#").nav__link.button.button_style3 Дизайн-проекты
              li.nav__item
                a(href="#").nav__link.button.button_style3 Оплата и доставка
              li.nav__item
                a(href="#").nav__link.button.button_style3 Для покупателя
              li.nav__item
                a(href="#").nav__link.button.button_style3 О компании
              li.nav__item
                a(href="#").nav__link.button.button_style3 Контакты
            ul.nav__list.nav__list_contacts
              li.nav__item
                .nav__label Телефоны:
                a(href="tel:74732070396").nav__link.button.button_style3.nav__phone +7 (473) 207-03-96
                a(href="tel:74732070396").nav__link.button.button_style3.nav__phone +7 (473) 207-03-96
              li.nav__item
                .nav__label Режим работы:
                span Пн-Пт, 09:00 - 19:00<br> Сб-Вс, 10:00 - 17:00
        .catalogue-nav.aside__block
          .scrollbar(data-scrollbar)
            ul.catalogue-nav__list
              li.catalogue-nav__section.active
                a.catalogue-nav__section-title.button.button_style3(href='kollekcii') Первый пункт
                ul
                  li
                    a.button.button_style3(href='kollekcii/dlya-vannoj') Второстепенный пункт
                  li.active
                    a.button.button_style3(href='kollekcii/dlya-pola') Второстепенный пункт
                  li
                    a.button.button_style3(href='kollekcii/dlya-kuhni') Второстепенный пункт
              li.catalogue-nav__section
                a.catalogue-nav__section-title.button.button_style3(href='keramicheskaya-plitka') Первый пункт
                ul
                  li
                    a.button.button_style3(href='keramicheskaya-plitka/plitka-dlya-vannoj') Второстепенный пункт
                  li
                    a.button.button_style3(href='keramicheskaya-plitka/plitka-dlya-kuhni') Второстепенный пункт
                  li
                    a.button.button_style3(href='keramicheskaya-plitka/plitka-dlya-pola') Второстепенный пункт
              li.catalogue-nav__section
                a.catalogue-nav__section-title.button.button_style3(href='keramicheskij-granit') Первый пункт
                ul
                  li
                    a.button.button_style3(href='keramicheskij-granit/keramogranit-dlya-pola') Второстепенный пункт
                  li
                    a.button.button_style3(href='keramicheskij-granit/keramogranit-dlya-fasada') Второстепенный пункт
              li.catalogue-nav__section
                a.catalogue-nav__section-title.button.button_style3(href='mozaika') Первый пункт
                ul
                  li
                    a.button.button_style3(href='mozaika/mozaika-steklyannaya') Второстепенный пункт
              li.catalogue-nav__section
                a.catalogue-nav__section-title.button.button_style3(href='soputstvuyuschie-tovary') Первый пункт
                ul
                  li
                    a.button.button_style3(href='suhie-smesi/gruntovka') Второстепенный пункт
                  li
                    a.button.button_style3(href='suhie-smesi/klej-dlya-plitki') Второстепенный пункт
                  li
                    a.button.button_style3(href='suhie-smesi/zatirki') Второстепенный пункт
                  li
                    a.button.button_style3(href='katalog/soputstvuyuschie-tovary/bordyur') Второстепенный пункт
        form(action="#").filter.aside__block
          .scrollbar(data-scrollbar)
            .filter__container
              .filter-section.filter-section_price
                span.filter-section__title ЦЕНА:
                .filter-section__content.shadow-decorated
                  .filter-section__price
                    .filter-section__price-input
                      input.input.input_style1(type="text" placeholder="от 0").js-validation.js-validation_num-only
                    .filter-section__price-input
                      input.input.input_style1(type="text" placeholder="до 99999").js-validation.js-validation_num-only
              .filter-section.active
                a(href="#").filter-section__title ПРОИЗВОДИТЕЛЬ:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox" disabled)
                      | TerraDesign
                    label.checkbox
                      input(type="checkbox")
                      | Kerlife
                    label.checkbox
                      input(type="checkbox")
                      | Azori 
                    label.checkbox
                      input(type="checkbox")
                      | AltaCera
              .filter-section
                a(href="#").filter-section__title ПРОИЗВОДИТЕЛЬ:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox")
                      | Россия
                    label.checkbox
                      input(type="checkbox")
                      | Китай
                    label.checkbox
                      input(type="checkbox")
                      | Украина
              .filter-section
                a(href="#").filter-section__title Размер:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox")
                      | Значение какое-то очень длинное
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
              .filter-section
                a(href="#").filter-section__title ЦВЕТ:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
              .filter-section
                a(href="#").filter-section__title НАЗНАЧЕНИЕ:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
              .filter-section
                a(href="#").filter-section__title Стиль:
                .filter-section__content.shadow-decorated
                  .filter-section__checkbox-list.scrollbar(data-scrollbar)
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
                    label.checkbox
                      input(type="checkbox")
                      | Значение
              button(type='reset' disabled).button.button_style4.filter__reset.reset-btn Сбросить фильтры

                    