aside.aside
  .aside__container
    .aside__head
      .logo
        a(href="#")
          img(src="img/logos/logo.svg", alt="main-logo")
      a(href="#").nav-toggle
        .toggle-item
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon16"></use></svg>
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
    .aside__content
      .aside__buttons
        a(href="#").button.button_style1.aside__button.catalogue-toggle
          span Каталог товаров
          .toggle-item
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon16"></use></svg>
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
          span Меню
        a(href="#").button.button_style4.aside__button.filter-toggle Подберите товар
          .toggle-item
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon14"></use></svg>
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
        span.aside__title Подберите плитку
      .aside__nav
        .scroll
          .scroll-container.sl--scrollable
            .scroll-wrapper
              nav.nav
                ul.nav__list
                  li.nav__item
                    a(href="#").nav__link.nav__link_decorated.button.button_style3 Новинки
                  li.nav__item
                    a(href="#").nav__link.nav__link_decorated.button.button_style3 Акции
                  li.nav__item
                    a(href="#").nav__link.nav__link_decorated.button.button_style3 Хиты продаж
                  li.nav__item
                    a(href="#").nav__link.button.button_style3 Дизайн проекты
                  li.nav__item
                    a(href="#").nav__link.button.button_style3 Оплата и доставка
                  li.nav__item
                    a(href="#").nav__link.button.button_style3 Для покупателя
                  li.nav__item
                    a(href="#").nav__link.button.button_style3 О компании
                  li.nav__item
                    a(href="#").nav__link.button.button_style3 Контакты
              .catalogue-nav
                ul.catalogue-nav__list
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 КЕРАМИЧЕСКАЯ ПЛИТКА
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Плитка для ванной
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Плитка для кухни
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Плитка для пола
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Azori
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 AltaCera
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Kerlife
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Terra Design
                ul.catalogue-nav__list
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 КЕРАМИЧЕСКИЙ ГРАНИТ
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Керамогранит для пола 
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Керамогранит для фасада
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Zeus Ceramica
                ul.catalogue-nav__list
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 СУХИЕ СМЕСИ
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Грунтовка
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Клей для плитки
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Затирки
                ul.catalogue-nav__list
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Мозаика
                  li.catalogue-nav__item
                    a(href="#").catalogue-nav__link.button.button_style3 Мозаика стеклянная
              form(action="").filter
                .filter-section.filter-section_price
                  span.filter-section__title ЦЕНА:
                  .filter-section__content
                    .filter-section__price
                      .filter-section__price-input
                        input.input.input_style1(type="number" placeholder="от 0")
                      .filter-section__price-input
                        input.input.input_style1(type="number" placeholder="до 99999")
                .filter-section.active
                  a(href="#").filter-section__title ПРОИЗВОДИТЕЛЬ:
                    <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon21"></use></svg>
                  .filter-section__content
                    .filter-section__checkbox-list
                      label.checkbox
                        input(type="checkbox")
                        | TerraDesign
                      label.checkbox
                        input(type="checkbox")
                        | Kerlife
                      label.checkbox
                        input(type="checkbox")
                        | Azori 
                      label.checkbox
                        input(type="checkbox")
                        | AltaCera
                .filter-section
                  a(href="#").filter-section__title ПРОИЗВОДИТЕЛЬ:
                    <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon21"></use></svg>
                  .filter-section__content
                    .filter-section__checkbox-list
                      label.checkbox
                        input(type="checkbox")
                        | Россия
                      label.checkbox
                        input(type="checkbox")
                        | Китай
                      label.checkbox
                        input(type="checkbox")
                        | Украина
                .filter-section
                  a(href="#").filter-section__title Размер:
                    <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon21"></use></svg>
                  .filter-section__content
                    .filter-section__checkbox-list
                      label.checkbox
                        input(type="checkbox")
                        | Значение
                      label.checkbox
                        input(type="checkbox")
                        | Значение
                      label.checkbox
                        input(type="checkbox")
                        | Значение
                .filter-section
                  a(href="#").filter-section__title ЦВЕТ:
                    <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon21"></use></svg>
                  .filter-section__content
                    .filter-section__checkbox-list
                      label.checkbox
                        input(type="checkbox")
                        | Значение
                      label.checkbox
                        input(type="checkbox")
                        | Значение
                      label.checkbox
                        input(type="checkbox")
                        | Значение
                .filter-section
                  a(href="#").filter-section__title НАЗНАЧЕНИЕ:
                    <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon21"></use></svg>
                  .filter-section__content
                    .filter-section__checkbox-list
                      label.checkbox
                        input(type="checkbox")
                        | Значение
                      label.checkbox
                        input(type="checkbox")
                        | Значение
                      label.checkbox
                        input(type="checkbox")
                        | Значение
                a(href="#").button.button_style4.filter__reset Сбросить фильтры
                  .toggle-item
                    <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
                button(type='submit').button.button_style1.filter__submit Показать результаты

                