.banner.banner_top
  .block.block_type4.block_size4
      a(href="#").content.background-box
        .lazy(data-src='img/banner/stock-photo-catalogue.jpg')
        .block__text
          span.block__title.t-size-64 AltaCera
          span.block__description Натуральные природные оттенки и сочное текстильное<br> оформление обеспечивают роскошный интерьер.