.breadcrumbs
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a(href="index.html").breadcrumbs__link Главная
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link Страница
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link Страница
    li.breadcrumbs__item Текущая страница
