.product-calculator.product-calculator_tile
  input(type='text' data-price='1490' data-mincount='6' data-square='0.1875' hidden disabled).product-calculator__count-input
  .product-calculator__section.product-calculator__section_controls
    span.product-calculator__control.product-calculator__minus
      <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon1"></use></svg>
    input(type="text").product-calculator__value-input.js-validation.js-validation_num-only
    span.product-calculator__control.product-calculator__plus
      <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon2"></use></svg>
  .product-calculator__section
    span.product-calculator__js-toggle.product-calculator__js-toggle_square
      span м
    span.product-calculator__js-toggle.product-calculator__js-toggle_switch
    span.product-calculator__js-toggle.product-calculator__js-toggle_count 
      span шт.