.product-calculator
  .product-calculator__section
    span.product-calculator__control.product-calculator__minus
      <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon1"></use></svg>
    input(type="text" value='0.22' data-area='0.22').product-calculator__value-input
    span.product-calculator__control.product-calculator__plus
      <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon2"></use></svg>
  .product-calculator__section
    span.product-calculator__unit.product-calculator__unit_square 
      span м
    span.product-calculator__unit-toggle
    span.product-calculator__unit.product-calculator__unit_count 
      span шт.