mixin block(title)
  .catalogue-block.col-xl-3.col-lg-4.col-sm-6.col-12
    .catalogue-block__container
      .catalogue-block__image.catalogue-block__section
        .cover-box
          img(data-src="img/banner/interyer_aura_grafite.jpg", alt="").lazy
        .catalogue-block__more
          a(href="#").button.button_style5 Подробнее
          a(href="#").button.button_style5.button_icon
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon24"></use></svg>
      .catalogue-block__info.catalogue-block__section
        .catalogue-block__info-section
          a(href="#").catalogue-block__brand Zeus Ceramica
          span.catalogue-block__model=title
        .catalogue-block__info-section
          span.catalogue-block__price от <span>874.00</span> руб./м2
          ul.appointment-list
            li.appointment-list__item
              .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon3"></use></svg>
              span Для ванной
              .icon-box.icon-box_style2 <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon20"></use></svg>
            li.appointment-list__item
              .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon10"></use></svg>
              span 201x505 мм
              .icon-box.icon-box_style3 <svg class="icon"><use xlink:href="img/icons/countries-sprite.svg#italy"></use></svg>
      .catalogue-block__additional.catalogue-block__section
        span.label Элементы коллекции:
        .row
          .catalogue-block__additional-block.col-xl-3
            a(href="#").cover-box
              img(data-src="img/banner/tile1.jpg", alt="").lazy
          .catalogue-block__additional-block.col-xl-3
            a(href="#").cover-box
              img(data-src="img/banner/tile2.jpg", alt="").lazy
          .catalogue-block__additional-block.col-xl-3
            a(href="#").cover-box
              img(data-src="img/banner/tile3.jpg", alt="").lazy
          .catalogue-block__additional-block.col-xl-3
            a(href="#").cover-box
              img(data-src="img/banner/tile4.jpg", alt="").lazy
.catalogue-section
  .catalogue-sorting
    .select-box
      label.select-box__label Цена
      .select
        select
          option(value="" data-display="Не выбрано") Не выбрано
          option(value="") По возрaстанию
          option(value="") По убыванию
    .select-box
      label.select-box__label Размер
      .select
        select
          option(value="" data-display="Все размеры") Все размеры
          option(value="") Какой-то размер
          option(value="") Какой-то размер
    .select-box
      label.select-box__label Назначение
      .select
        select
          option(value="" data-display="Не выбрано") Не выбрано
          option(value="") Для ванной
          option(value="") Для кухни
          option(value="") Для пола
          option(value="") Для фасада
    .select-box
      label.select-box__label Тип плитки
      .select
        select
          option(value="" data-display="Все типы") Все типы
          option(value="") Керамогранит
          option(value="") Плитка
          option(value="") Декор
          option(value="") Мозайка
  .catalogue-area
    .row
      +block('Legno')
      +block('Какое-то очень длинное название')
      +block('Legno')
      +block('Legno')
      +block('Legno')
      +block('Legno')
      +block('Legno')
      +block('Legno')
  .catalogue-pagination
    ul.catalogue-pagination__list
      li.catalogue-pagination__item
        a(href="#").catalogue-pagination__link.active 1
      li.catalogue-pagination__item
        a(href="#").catalogue-pagination__link 2
      li.catalogue-pagination__item
        a(href="#").catalogue-pagination__link 3
      li.catalogue-pagination__item
        a(href="#").catalogue-pagination__link ...
      li.catalogue-pagination__item
        a(href="#").catalogue-pagination__link 10
  .catalogue-more
    a(href="#").button.button_style1.catalogue-more__button Показать больше