include cards
.catalogue__sorting.sorting
  .row
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Цена
      .select
        select
          option(value="1" data-display="Не выбрано") Не выбрано
          option(value="2") По возрaстанию
          option(value="3") По убыванию
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Размер
      .select
        select
          option(value="1" data-display="Все размеры") Все размеры
          option(value="2") Какой-то размер
          option(value="3") Какой-то размер
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Назначение
      .select
        select
          option(value="" data-display="Не выбрано") Не выбрано
          option(value="") Для ванной
          option(value="") Для кухни
          option(value="") Для пола
          option(value="") Для фасада
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Тип плитки
      .select
        select
          option(value="" data-display="Все типы") Все типы
          option(value="") Керамогранит
          option(value="") Плитка
          option(value="") Декор
          option(value="") Мозайка
.catalogue__list.row
  .catalogue-block.col-xl-3.col-lg-4.col-sm-6.col-12
    .catalogue-block__container
      .catalogue-block__content
        .catalogue-block__section.catalogue-block__image
          a(href="#").cover-box
            img(src='#' data-src="img/contentImages/interyer_aura_grafite.jpg", alt="").lazy
        .catalogue-block__section.catalogue-block__info
          .catalogue-block__info-section
            a(href="#").catalogue-block__brand Zeus Ceramica
            span.catalogue-block__model Zeus Ceramica
          .catalogue-block__info-section
            span.catalogue-block__price
              span.current-price от 800.00 ₽/м²
            ul.appointment-list
              li.appointment-list__item
                .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon7"></use></svg>
                span Для пола
                .icon-box.icon-box_style3 <svg class="icon"><use xlink:href="img/icons/countries-sprite.svg#italy"></use></svg>
        .catalogue-block__section.catalogue-block__additional
          span.label Элементы коллекции:
          .row
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile1.jpg", alt="").lazy
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile2.jpg", alt="").lazy
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile3.jpg", alt="").lazy
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile4.jpg", alt="").lazy
  .catalogue-block.col-xl-3.col-lg-4.col-sm-6.col-12
    .catalogue-block__container
      .catalogue-block__content
        .catalogue-block__section.catalogue-block__image
          a(href="#").cover-box
            img(src='#' data-src="img/contentImages/interyer_aura_grafite.jpg", alt="").lazy
        .catalogue-block__section.catalogue-block__info
          .catalogue-block__info-section
            a(href="#").catalogue-block__brand Zeus Ceramica
            span.catalogue-block__model Zeus Ceramica
          .catalogue-block__info-section
            span.catalogue-block__price
              span.current-price от 800.00 ₽/м²
            ul.appointment-list
              li.appointment-list__item
                .icon-box.icon-box_style1.appointment-list__icon
                  <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon11"></use></svg>
                .icon-box.icon-box_style1.appointment-list__icon
                  <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon3"></use></svg>
                span Для кухни/ванной
                .icon-box.icon-box_style3 <svg class="icon"><use xlink:href="img/icons/countries-sprite.svg#italy"></use></svg>
        .catalogue-block__section.catalogue-block__additional
          span.label Элементы коллекции:
          .row
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile1.jpg", alt="").lazy
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile2.jpg", alt="").lazy
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile3.jpg", alt="").lazy
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile4.jpg", alt="").lazy
  
  