include cards
.catalogue__sorting.sorting
  .row
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Цена
      .select
        select
          option(value="1" data-display="Не выбрано") Не выбрано
          option(value="2") По возрaстанию
          option(value="3") По убыванию
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Размер
      .select
        select
          option(value="1" data-display="Все размеры") Все размеры
          option(value="2") Какой-то размер
          option(value="3") Какой-то размер
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Назначение
      .select
        select
          option(value="" data-display="Не выбрано") Не выбрано
          option(value="") Для ванной
          option(value="") Для кухни
          option(value="") Для пола
          option(value="") Для фасада
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Тип плитки
      .select
        select
          option(value="" data-display="Все типы") Все типы
          option(value="") Керамогранит
          option(value="") Плитка
          option(value="") Декор
          option(value="") Мозайка
.catalogue__list.row
  +block1('Legno')
  +block1('Какое-то очень длинное название')
  +block1('Legno')
  +block1('Legno')
  +block1('Legno')
  +block1('Legno')
  +block1('Legno')
  +block1('Legno')
.catalogue__pagination.pagination
    ul.pagination__list
      li.pagination__item
        a(href="#").pagination__link.active 1
      li.pagination__item
        a(href="#").pagination__link 2
      li.pagination__item
        a(href="#").pagination__link 3
      li.pagination__item
        a(href="#").pagination__link ...
      li.pagination__item
        a(href="#").pagination__link 10
    a(href="#").button.button_style1.pagination__button Показать больше