.catalogue-block
  .catalogue-sorting
    .select-box
      label.select-box__label Цена
      select.select
        option(value="" data-display="Не выбрано") Не выбрано
        option(value="") От дешевых к дорогим
        option(value="") От дорогих к дешевым
    .select-box
      label.select-box__label Размер
      select.select
        option(value="" data-display="Все размеры") Все размеры
        option(value="") Какой-то размер
        option(value="") Какой-то размер
    .select-box
      label.select-box__label Назначение
      select.select
        option(value="" data-display="Не выбрано") Не выбрано
        option(value="") Для ванной
        option(value="") Для кухни
        option(value="") Для пола
        option(value="") Для фасада
    .select-box
      label.select-box__label Тип плитки
      select.select
        option(value="" data-display="Все типы") Все типы
        option(value="") Керамогранит
        option(value="") Плитка
        option(value="") Декор
        option(value="") Мозайка
         