.categories.categories_main
  .row
    .block.block_type2.col-xl-4.col-lg-6.col-12
      a(href="#").content
        .background
          .lazy(data-src='img/banner/stock-photo-interior1.jpg')
        span.block__title.block__title_1 Новинки
    .block.block_type2.col-xl-4.col-lg-6.col-12
      a(href="#").content
        .background
          .lazy(data-src='img/banner/stock-photo-interior2.jpg')
        span.block__title.block__title_2 Акции
    .block.block_type2.col-xl-4.col-lg-6.col-12
      a(href="#").content
        .background
          .lazy(data-src='img/banner/stock-photo-interior3.jpg')
        span.block__title.block__title_3 Хиты продаж