.categories.categories_main
  .row
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon29"></use></svg>
        span Для ванной
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon30"></use></svg>
        span Для кухни
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon31"></use></svg>
        span Для фасада
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon32"></use></svg>
        span Для пола
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon33"></use></svg>
        span Мозайка
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon34"></use></svg>
        span Сухие смеси