.categories
  .row
    .block.block_type2.block_size5.col-xl-4.col-lg-6.col-12
      a(href="#").content.background-box
        .lazy(data-src='img/banner/stock-photo-interior1.jpg')
        .block__text
          span.button.button_style1 Новинки
    .block.block_type2.block_size5.col-xl-4.col-lg-6.col-12
      a(href="#").content.background-box
        .lazy(data-src='img/banner/stock-photo-interior2.jpg')
        .block__text
          span.button.button_style1 Акции
    .block.block_type2.block_size5.col-xl-4.col-lg-6.col-12
      a(href="#").content.background-box
        .lazy(data-src='img/banner/stock-photo-interior3.jpg')
        .block__text
          span.button.button_style1 Распродажа