.tile-categories-destination
  .row
    .block.block_type3.block_size1.col-xl-6.col-12
      a(href="#").content.background
        .lazy(src='#' data-src='img/banner/stock-photo-interior4.jpg')
        .block__text
          span.block__title.t-size-24 Плитка для ванной
          span.block__description Элегантные решения для вашей кухни
    .block.block_type3.block_size1.col-xl-6.col-12
      a(href="#").content.background
        .lazy(src='#' data-src='img/banner/stock-photo-interior5.jpg')
        .block__text
          span.block__title.t-size-24 Плитка для пола
          span.block__description Элегантные решения для вашей кухни
    .block.block_type3.block_size1.col-xl-6.col-12
      a(href="#").content.background
        .lazy(src='#' data-src='img/banner/shutterstock_396818590.jpg')
        .block__text
          span.block__title.t-size-24 Плитка для кухни
          span.block__description Элегантные решения для вашей кухни
    .block.block_type3.block_size1.col-xl-6.col-12
      a(href="#").content.background
        .lazy(src='#' data-src='img/banner/stock-photo-interior6.jpg')
        .block__text
          span.block__title.t-size-24 Плитка для фасада
          span.block__description Элегантные решения для вашей кухни
section.section.tile-categories-manufacturer
  h5.section__title Производители
  .row
    .block.block_type4.block_size2.col-xl-4.col-md-6.col-12
      a(href="#").content.background
        .lazy(src='#' data-src='img/banner/alta cera.jpg')
        .block__text
          span.block__title.t-size-36 AltaCera
          span.block__description Италия. Классика/барокко
    .block.block_type4.block_size2.col-xl-4.col-md-6.col-12
      a(href="#").content.background
        .lazy(src='#' data-src='img/banner/azori_eclipse_indigo.jpg')
        .block__text
          span.block__title.t-size-36 Azori
          span.block__description Испания. Модерн / хай-тек
    .block.block_type4.block_size2.col-xl-4.col-md-12
      a(href="#").content.background
        .lazy(src='#' data-src='img/banner/interyer_aura_grafite.jpg')
        .block__text
          span.block__title.t-size-36 Kerlife
          span.block__description Испания. Модерн / классика
    .block.block_type4.block_size3.col-xl-6.col-12
      a(href="#").content.background
        .lazy(src='#' data-src='img/banner/zeus.jpg')
        .block__text
          span.block__title.t-size-36 TerraDesign
          span.block__description Италия. Классика/барокко
    .col-xl-6.col-12
      .row.row_inner
        .block.block_type4.block_size4.col-xl-12
          a(href="#").content.background
            .lazy(src='#' data-src='img/banner/terra.jpg')
            .block__text
              span.block__title.t-size-36 Zeus Ceramica
              span.block__description Украина. Классика/барокко
        .block.block_type4.block_size4.col-xl-12
          a(href="#").content.background
            .lazy(src='#' data-src='img/banner/shutterstock_dela.jpg')
            .block__text
              span.block__title.t-size-36 DelaCora
              span.block__description Украина. Классика/барокко
