section.section.contact-form-section
  .contact-form-section__top
    h6.contact-form-section__title.t-size-18 Затрудняетесь с выбором плитки? Есть вопросы?
    span Мы с радостью на них ответим. Просто напишите нам
  form.form.contact-form
    .row
      .col-xl-6.col-12
        input(type="text" name="1" placeholder="Ваше имя").input.input_style2.required
      .col-xl-6.col-12
        input(type="text" name="phone" placeholder="Номер телефона +7").input.input_style2.required
      .col-12
        textarea(placeholder='Текст сообщения' name="").input.input_style2.input_textarea.required.fix
        span text
      .col-12.contact-form__button
        button(type='submit').button.button_style1 Отправить
  .contact-form-section__bottom
    span.contact-form-section__title.t-size-18 Или позвоните нам по телефонам:
    span.contact-form-section__number +7 (473) 207-03-96
    span.contact-form-section__number +7 (473) 207-03-98