.projects__sorting.sorting
  .row
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Помещение
      .select
        select
          option(value="" data-display="Не выбрано") Не выбрано
          option(value="") Значение
          option(value="") Значение
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Цветовая гамма
      .select
        select
          option(value="" data-display="Не выбрано") Не выбрано
          option(value="") Значение
          option(value="") Значение
    .select-box.col-xl-3.col-lg-4.col-sm-6
      span.label Назначение
      .select
        select
          option(value="" data-display="Не выбрано") Не выбрано
          option(value="") Значение
          option(value="") Значение
.projects__list 
  .row
    .block.block_type4.block_type4-2.block_size3.col-xl-6.col-12
      .content.background-box
        .lazy(data-src='img/contentImages/zeus.jpg')
        .block__text
          span.block__title.t-size-36 Azori Nuvola Verde
          span.block__description Натуральные природные оттенки и сочное<br> текстильное оформление обеспечивают<br> роскошный интерьер.
          a(href="#").button.button_style5 Подробнее
    .col-xl-6.col-12
      .row.row_inner
        .block.block_type4.block_type4-2.block_size4.col-xl-12
          .content.background-box
            .lazy(data-src='img/contentImages/terra.jpg')
            .block__text
              span.block__title.t-size-36 Zeus Ceramica
              span.block__description Украина. Классика/барокко
              a(href="#").button.button_style5 Подробнее
        .block.block_type4.block_type4-2.block_size4.col-xl-12
          .content.background-box
            .lazy(data-src='img/contentImages/shutterstock_dela.jpg')
            .block__text
              span.block__title.t-size-36 DelaCora
              span.block__description Украина. Классика/барокко
              a(href="#").button.button_style5 Подробнее
    .col-xl-6.col-12
      .row.row_inner
        .block.block_type4.block_type4-2.block_size4.col-xl-12
          .content.background-box
            .lazy(data-src='img/contentImages/terra.jpg')
            .block__text
              span.block__title.t-size-36 Zeus Ceramica
              span.block__description Украина. Классика/барокко
              a(href="#").button.button_style5 Подробнее
        .block.block_type4.block_type4-2.block_size4.col-xl-12
          .content.background-box
            .lazy(data-src='img/contentImages/shutterstock_dela.jpg')
            .block__text
              span.block__title.t-size-36 DelaCora
              span.block__description Украина. Классика/барокко
              a(href="#").button.button_style5 Подробнее
    .block.block_type4.block_type4-2.block_size3.col-xl-6.col-12
      .content.background-box
        .lazy(data-src='img/contentImages/zeus.jpg')
        .block__text
          span.block__title.t-size-36 Azori Nuvola Verde
          span.block__description Натуральные природные оттенки и сочное<br> текстильное оформление обеспечивают<br> роскошный интерьер.
          a(href="#").button.button_style5 Подробнее
.design-order-btn
  a(href="design.html").button.button_style1 Заказать дизайн-проект