.catalogue-sorting
  .select-box
    label.select-box__label Помещение
    .select
      select
        option(value="" data-display="Не выбрано") Не выбрано
        option(value="") Значение
        option(value="") Значение
  .select-box
    label.select-box__label Цветовая гамма
    .select
      select
        option(value="" data-display="Не выбрано") Не выбрано
        option(value="") Значение
        option(value="") Значение
  .select-box
    label.select-box__label Назначение
    .select
      select
        option(value="" data-display="Не выбрано") Не выбрано
        option(value="") Значение
        option(value="") Значение
.design-blocks  
  .row
    .block.block_type4.block_type4-2.block_size2.col-xl-6.col-12
      .content
        .background
          .lazy(data-src='img/banner/zeus.jpg')
        .block__text
          span.block__title.t-size-36 Azori Nuvola Verde
          span.block__description Натуральные природные оттенки и сочное<br> текстильное оформление обеспечивают<br> роскошный интерьер.
          a(href="#").button.button_style5 Подробнее
    .col-xl-6.col-12
      .row.row_inner
        .block.block_type4.block_type4-2.block_size3.col-xl-12
          .content
            .background
              .lazy(data-src='img/banner/terra.jpg')
            .block__text
              span.block__title.t-size-36 Zeus Ceramica
              span.block__description Украина. Классика/барокко
              a(href="#").button.button_style5 Подробнее
        .block.block_type4.block_type4-2.block_size3.col-xl-12
          .content
            .background
              .lazy(data-src='img/banner/shutterstock_dela.jpg')
            .block__text
              span.block__title.t-size-36 DelaCora
              span.block__description Украина. Классика/барокко
              a(href="#").button.button_style5 Подробнее
    .col-xl-6.col-12
      .row.row_inner
        .block.block_type4.block_type4-2.block_size3.col-xl-12
          .content
            .background
              .lazy(data-src='img/banner/terra.jpg')
            .block__text
              span.block__title.t-size-36 Zeus Ceramica
              span.block__description Украина. Классика/барокко
              a(href="#").button.button_style5 Подробнее
        .block.block_type4.block_type4-2.block_size3.col-xl-12
          .content
            .background
              .lazy(data-src='img/banner/shutterstock_dela.jpg')
            .block__text
              span.block__title.t-size-36 DelaCora
              span.block__description Украина. Классика/барокко
              a(href="#").button.button_style5 Подробнее
    .block.block_type4.block_type4-2.block_size2.col-xl-6.col-12
      .content
        .background
          .lazy(data-src='img/banner/zeus.jpg')
        .block__text
          span.block__title.t-size-36 Azori Nuvola Verde
          span.block__description Натуральные природные оттенки и сочное<br> текстильное оформление обеспечивают<br> роскошный интерьер.
          a(href="#").button.button_style5 Подробнее
.design-order-btn
  a(href="#popup1").button.button_style1.popup-link Заказать дизайн-проект