footer.footer
  .footer__contaner
    .footer__copy &copy Майолика 2019. Все права защищены
    .footer__contacts
      .row
        .footer__section.col-xl-5.col-lg-6
          span Мы в сосетях:
            a(href="#") <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon36"></use></svg>
              | majolica_vrn 
            | |
            a(href="#") <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon35"></use></svg>
              | @majolica_vrn
          span Режим работы: 
            strong Пн-Пт, 09:00 - 19:00; Сб-Вс, 10:00 - 17:00
        .footer__section.col-xl-5.col-lg-6
          span Адрес: 
            strong 394000, г. Воронеж, пер. Отличников, 1Б.
          span Телефоны: 
            strong +7 (473) 207-03-96; +7(473) 207-03-98