footer.footer
  .footer__contaner
    .footer__contacts
      .row.row_center
        .footer__section.col-xl-5.col-lg-6
          span Мы в сосетях:
            a(href="https://vk.com" target='_blank') <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon36"></use></svg>
              | majolica_vrn 
            | |
            a(href="https://www.instagram.com/majolica_vrn/" target='_blank') <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon35"></use></svg>
              | @majolica_vrn
          span Режим работы: 
            strong Пн-Пт, 09:00 - 19:00; Сб-Вс, 10:00 - 17:00
        .footer__section.col-xl-5.col-lg-6
          span Адрес: 
            strong 394000, г. Воронеж, пер. Отличников, 1Б
          span Телефоны: 
            strong +7 (473) 207-03-96; +7(473) 207-03-98
    .footer__bottom
      .row.row_center
        .col-xl-5.col-lg-6
          span.footer__copy &copy; Майолика 2007-2019. Все права защищены.
        .col-xl-5.col-lg-6
          .artica-link Разработка и поддержка сайта —  
            a(href="http://artica.art/" target='_blank') <svg viewBox="0 0 73 15" xmlns="http://www.w3.org/2000/svg"><path d="M8.75772 3.51558L15.47 14.7632H17.5154L8.75772 0.0881348L0 14.7632H2.04541L8.75772 3.51558Z"/><path d="M63.671 3.51558L70.3834 14.7632H72.4288L63.671 0.0881348L54.9133 14.7632H56.9587L63.671 3.51558Z" /><path d="M41.6583 5.05872H40.0015V14.9999H41.6583V5.05872Z" /><path d="M36.6877 5.05872H27.93V6.59984H31.4428V14.7632H33.1749V6.59984H36.6877V5.05872Z" /><path d="M52.6787 12.4871C52.0191 13.1514 51.0959 13.5654 50.0724 13.5654C48.0685 13.5654 46.444 11.9823 46.444 10.0293C46.444 8.07636 48.0685 6.49318 50.0724 6.49318C51.0959 6.49318 52.0191 6.90718 52.6787 7.57157L53.9665 6.82459C53.0311 5.7458 51.6352 5.05872 50.0724 5.05872C47.2556 5.05872 44.9721 7.28413 44.9721 10.0293C44.9721 12.7745 47.2556 14.9999 50.0724 14.9999C51.6352 14.9999 53.0311 14.3128 53.9665 13.234L52.6787 12.4871Z" /><path d="M22.8097 10.5225C24.0518 10.2559 24.9907 9.14335 24.9907 7.82118V7.82117C24.9907 6.30182 23.751 5.05872 22.2359 5.05872H16.0953L16.9956 6.52827H22.2693C22.9759 6.52827 23.554 7.11874 23.554 7.84045C23.554 8.56213 22.9759 9.15261 22.2693 9.15261H21.9966H21.0644V10.5836V10.6311L23.5167 14.7632H25.3264L22.8097 10.5225Z" /></svg>