header.header
  .header__container
    .header__buttons
      //search
      .search.header__search
        .search__container
          form(action="#")
            button(type="submit").button.button_style2.search__submit
              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon15"></use></svg>
            input(type="text" required placeholder="Поиск").input
          button.button.button_style2.button_close.search-close
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
      //button
      a(href="").button.button_style2.search-open
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon15"></use></svg>
      a(href="").button.button_style2.setup-open
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon14"></use></svg>
    .header__info
      .header__info-item
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon28"></use></svg>
        .header__info-text 
          | Пн-Пт, 09:00 - 19:00,<br> 
          | Сб-Вс, 10:00 - 17:00
      .header__info-item 
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon8"></use></svg>
        .header__info-text 
          a(href="tel:+74732070396").link.link_type2 +7 (473) 207-03-96 
          | | <br>   
          a(href="tel:+74732070398").link.link_type2 +7 (473) 207-03-98
    .header__cart
      a(href="#").button.button_style2.button_cart
        <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon24"></use></svg>
        span.cart-count 2000


