header.header
  .header__container
    .header__top
      .city-toggle
        span Ваш город:
        .city-toggle__item.dropdown-item
          a(href="#").city-toggle__button.dropdown-item__button Воронеж
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon21"></use></svg>
          .dropdown-item__container.scroll-container
            .dropdown-item__content.scroll-wrapper
              ul
                li
                  a(href="#") Москва
                li
                  a(href="#") Норильск
                li
                  a(href="#") Челябинск
                li
                  a(href="#") Москва
                li
                  a(href="#") Норильск
                li
                  a(href="#") Челябинск
                li
                  a(href="#") Москва
                li
                  a(href="#") Норильск
                li
                  a(href="#") Челябинск

