header.header
  .header__container
    .header__top
      .city-toggle
        span.city-toggle__label Ваш город:
        .city-toggle__item.dropdown-item
          a(href="#").city-toggle__button.dropdown-item__button Воронеж
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon21"></use></svg>
          .dropdown-item__container.scroll
            .scroll-container
              .scroll-wrapper
                ul
                  li
                    a(href="#").button.button_style3 Москва
                  li
                    a(href="#").button.button_style3 Норильск
                  li
                    a(href="#").button.button_style3 Челябинск
                  li
                    a(href="#").button.button_style3 Москва
                  li
                    a(href="#").button.button_style3 Норильск
                  li
                    a(href="#").button.button_style3 Челябинск
                  li
                    a(href="#").button.button_style3 Москва
                  li
                    a(href="#").button.button_style3 Норильск
                  li
                    a(href="#").button.button_style3 Челябинск
      .header__info
        .header__info-item
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon8"></use></svg>
          <nobr>Пн-Пт, 09:00 - 19:00, </nobr> <nobr>Сб-Вс, 10:00 - 17:00</nobr>
        .header__info-item 
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon28"></use></svg>
          <nobr>+7 (473) 207-03-96 <span>|</span> </nobr> <nobr>+7 (473) 207-03-98</nobr>
    .header__bottom
      .header__buttons
        //search
        .search.header__search
          .search__container
            form(action="#")
              button(type="submit").button.button_style2
                <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon15"></use></svg>
              input(type="text" required placeholder="Поиск").input
            button.button.button_style2.search-close
              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon17"></use></svg>
        //button
        a(href="").button.button_style2.search-open
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon15"></use></svg>
        a(href="").button.button_style2.setup-open
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon14"></use></svg>
      .header__items
        .profile-toggle
          .profile-toggle__item.dropdown-item
            a(href="#").profile-toggle__button.dropdown-item__button
              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon21"></use></svg>
              | Ivanovkonstantin_82@gmail.com
            .dropdown-item__container.scroll
              .scroll-container
                .scroll-wrapper
                  ul
                    li
                      a(href="#").button.button_style3 Что-нибудь должно быть здесь
                    li
                      a(href="#").button.button_style3 Что-нибудь должно быть здесь
                    li
                      a(href="#").button.button_style3 Что-нибудь должно быть здесь
          a(href="#").button.button_style2.button_profile.button_color1
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon23"></use></svg>
        a(href="#").button.button_style2.button_cart
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon24"></use></svg>
          span.cart-count 20


