include cards
section.section.interesting-items
  h5.section__title Вас может заинтересовать
  .slider.slider_type2.interesting-items__slider
    +block3('Ceresit СМ 9 Plus 25 кг', 'Клей для плитки', 'Водно-дисперсионный силиконовый гидрофобизатор для защиты от влаги и загрязнения')(data-src='img/banner/interesting1.jpg')
    +block3('Ceresit CT 10 Super 1 л', 'Пропитка противогрибковая', 'Затирка обладает гидрофобными свойствами и устойчивостью против грибка и плесени, поэтому ее можно использовать во влажных помещениях, душевых и ванных комнатах.')(data-src='img/banner/interesting2.jpg')
    +block3('Ceresit СМ 9 Plus 25 кг', 'Клей для плитки', 'Водно-дисперсионный силиконовый гидрофобизатор для защиты от влаги и загрязнения')(data-src='img/banner/interesting3.jpg')
    +block3('Ceresit CT 10 Super 1 л', 'Пропитка противогрибковая', 'Водно-дисперсионный силиконовый гидрофобизатор для защиты от влаги и загрязнения')(data-src='img/banner/interesting4.jpg')
  