section.section.section_manufacturers
  h5.section__title Производители
  .row
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        .cover-box.cover-box_contain
          img(src='#' data-src="img/brands/terradesign.png", alt="").lazy
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        .cover-box.cover-box_contain
          img(data-src="img/brands/azori_12.png", alt="").lazy
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        .cover-box.cover-box_contain
          img(data-src="img/brands/zeus_12.png", alt="").lazy
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        .cover-box.cover-box_contain
          img(data-src="img/brands/altacera_12.png", alt="").lazy
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        .cover-box.cover-box_contain
          img(data-src="img/brands/kerlife_12.png", alt="").lazy
    .block.block_type1.col-xl-2.col-lg-3.col-6
      a(href="#").content
        .cover-box.cover-box_contain
          img(data-src="img/brands/logo.png", alt="").lazy