section.section.section_map
  h5.section__title Адреса магазинов
  .map.block.block_size6
    .content.background
      <iframe id='map' src="https://yandex.ru/map-widget/v1/-/CCS5MUMj" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
