section.news
  .news__head.block.block_type4.block_size6
    .content.background
      .lazy(data-src='img/banner/bg-news.jpg')
      .block__text
        h1.block__title.t-size-64 Информация<br> для покупателя